[2015-02-02 21:37] afeld opened #1 "move in the Rails deployment notes"
TODO for myself, mostly.

https://docs.google.com/a/gsa.gov/document/d/1J81HE-XyKan8u-DKOoV5iqn2kFqJDthwqLOLEnl6JUc/edit

[2015-02-13 20:48] afeld commented on #2
Needs merge from `master`, but :+1:

[2015-02-13 20:58] konklone commented on #2
Merged and done.

[2015-03-03 16:50] dlapiduz commented on #4
Thanks @ozzyjohnson !

[2015-03-12 22:10] afeld opened #12 "document how to set up custom domains"

[2015-03-13 15:26] afeld opened #13 "document how to deploy a Node app"
/cc @adelevie @ultrasaurus

[2015-03-13 15:49] adelevie commented on #13
The thing where you need to ensure a start script is in `package.json`...

[2015-03-13 16:20] afeld commented on #13
http://docs.cloudfoundry.org/buildpacks/node/

[2015-03-13 16:57] #1 closed, assigned to nobody

[2015-03-14 02:13] monfresh opened #15 "How do you psql into a DB once it has been created?"
I followed the [database instructions](https://github.com/18F/cloud-foundry-notes/blob/master/app-deployment/databases.md) to create a database, but now I need to `psql` into the DB to run SQL commands. I have not been able to. It keeps timing out. I tried both the AWS RDS and the CF Service.

After some digging around, I learned that you can see your CF DB info by running `cf env <APP_NAME>`. I t

[2015-03-16 16:20] ozzyjohnson commented on #13
Just added a doc on service instances which uses node in a few examples pulled from my experience deploying Beckley on Friday.

https://github.com/18F/cloud-foundry-notes/tree/accessing-v1-managed-services

[2015-03-16 16:36] afeld commented on #13
@ozzyjohnson Feel free to create a `[WIP]` PR so that others can see it more easily and give any initial feedback!

[2015-03-16 16:45] afeld opened #16 "document how to set up a custom domain"
Moved from https://trello.com/c/5VFesuCj/71-document-how-to-set-up-custom-domains. Some related documentation in https://docs.cf.18f.us/ops/elb/.

[2015-03-16 17:41] afeld commented on #15
/cc https://trello.com/c/jGtEO4Ul/82-figure-out-a-way-to-do-cf-ssh

[2015-03-16 17:46] afeld commented on #15
Note that this is _probably_ because the RDS database is within the Cloud Foundry VPC, which doesn't allow outside access.

[2015-03-16 17:50] ozzyjohnson commented on #15
@monfresh - Connecting directly to a DB instance in CF is going to be a problem as the only the app route is exposed.  There have been a few plugins to do this specifically (tunnel to a service instance), but they're generally deprecated.

https://github.com/cloudfoundry/vmc
https://github.com/ybshen/tunnel-cf-plugin

As mentioned, [cf-ssh](https://github.com/cloudfoundry-community/cf-ssh) seems t

[2015-03-16 17:54] monfresh commented on #15
Awesome, thanks! I look forward to cf-ssh being available and documented.

[2015-03-17 16:15] monfresh commented on #16
Is this the same as #12 or are they different?

[2015-03-17 16:16] monfresh opened #18 "Document how to deploy a Flask app with Postgres"
I'd be happy to take a stab at this, but perhaps I should wait until `cf ssh` is ready?

[2015-03-17 22:58] afeld commented on #16
Derp, thanks.

[2015-03-17 22:58] #16 closed, assigned to nobody

[2015-03-18 18:16] dlapiduz commented on #18
@monfresh you can take a first stab and then we can edit as needed...

[2015-03-20 06:47] afeld opened #24 "As a user, I want to be able to search cloud.gov documentation"
http://gohugo.io uses a [Google Custom Search Engine](https://www.google.com/cse/), which it seems we can't create in our Google Apps account :confused:

[2015-03-23 16:44] afeld commented on #15
It lives! https://docs.cf.18f.us/getting-started/cf-ssh/

[2015-03-23 16:45] afeld commented on #24
...though it's also feeling a bit silly starting to duplicate features of the Hub.

[2015-03-23 19:54] #15 closed, assigned to nobody

[2015-03-25 02:30] drnic opened #31 "Add a signed cert at https://docs.cf.18f.us/"
The self-signed cert isn't super lovely :)

[2015-03-25 02:46] afeld commented on #31
Heh, was wondering if any Cloud Foundry folks had come across this repo yet :smile: We're working on setting up a new domain for our CF deployment, so are waiting to buy a wildcard cert until then. Soon!

Other feedback welcome, too. Hope we can contribute a lot of this back to the canonical documentation sooner or later.

[2015-04-22 14:21] dlapiduz commented on #31
We finally have a proper domain and cert. The new docs site lives at https://docs.18f.gov

[2015-04-22 14:21] #31 closed, assigned to nobody

[2015-05-11 21:09] geramirez opened #55 "Document how to run multiple instances"
Also, include tips on using [CF-INSTANCE-INDEX](http://docs.run.pivotal.io/devguide/deploy-apps/environment-variable.html#CF-INSTANCE-INDEX) to prevent app from running multiple start commands.

[2015-05-12 15:29] harrisj opened #56 "Document how to do Blue-Green deployments with an app"
I know I am being annoying, but I want to see this. It'll be so cool

[2015-05-28 00:33] afeld opened #61 "add a section on "why we run a Paas""
Can draw from here:

https://18f.gsa.gov/2015/05/08/layering-innovation/

[2015-06-01 14:49] adelevie opened #62 "Needed sudo for cf-ssh `mv`"
From following the instructions here: https://docs.18f.gov/getting-started/cf-ssh/,

I ended up needing to run `sudo mv cf-ssh /usr/local/bin`. Everything still seems to work fine (e.g I can run `cf-ssh` without `sudo`).

[2015-06-02 22:20] afeld commented on #62
I wonder what default permissions on that directory are for most people...

[code]

[2015-06-03 14:26] ultrasaurus opened #65 "Idea for a quickstart tutorial"
I did a little experimenting yesterday with CloudFoundry, Rails and ElasticSearch.  It took a little hunting and some help from @ozzyjohnson to get started, but it is actually quite easy.  I thought it might be nice to add a little tutorial to the docs for getting started with Rails (using what is free and doesn't require a billing code).

Should something like this go into [Deploying Rails](https

[2015-06-03 14:31] afeld commented on #65
:+1:

I'd prefer putting it on its own page.

I wrote up some notes/steps for the training I did a few weeks ago:

https://docs.google.com/document/d/1N0VQf5y0ZeO-9BS0Xk1W2p-YetF7HUqzSB4D-Kj7MXw/edit

which may be useful as part of this guide. Happy to collaborate on this!

[2015-06-03 14:40] ultrasaurus opened #66 "docs.18f.gov is a weird name for the Cloud Foundry docs"
18F does a lot more than deploy code.   In fact, I think that is the smallest part of what we do!  Of course, it's important, but maybe we should call it deploy.18f.gov or shipit.18f.gov or something.

[2015-06-05 17:18] alex opened #67 "Image on /ops/elb/ 404s"
https://docs.18f.gov/ops/elb/

![screen shot 2015-06-05 at 1 18 03 pm](https://cloud.githubusercontent.com/assets/772/8011269/505c6620-0b85-11e5-8155-ba2106b23638.png)

[2015-06-05 17:42] ozzyjohnson commented on #65
I think this should be made part of or at least prominently referenced from the Rails guide unless we expect services to be used by a minority of Rails apps.

Anecdotally, folks run through the guide for their language of of choice and don't readily consuming the separate docs about services / troubleshooting etc.

[2015-06-05 19:36] dlapiduz commented on #67
Thanks @alex! I removed the image since it wasn't adding much anyway.

[2015-06-05 19:36] #67 closed, assigned to nobody

[2015-06-05 19:37] dlapiduz commented on #66
@ultrasaurus we are planning on moving some time soon to another domain where it will make more sense.

[2015-06-05 19:37] #66 closed, assigned to nobody

[2015-06-05 19:37] dlapiduz commented on #62
I have similar permissions to @afeld but it doesn't hurt to add a note saying "you may need sudo". @adelevie can you send a PR?

[2015-06-17 17:47] afeld opened #69 "revisit recommendation around shared vs. independent databases"
- https://docs.18f.gov/apps/databases/
- https://18f.slack.com/archives/devops/p1434553182000569

[2015-06-23 01:34] ultrasaurus commented on #65
I think I forgot this part:

[code]

[2015-07-29 20:30] afeld commented on #61
Also can draw from (or maybe copy in) [the seed pitch](https://docs.google.com/document/d/19lFllSwzGrYERWMOv2o2SARcMsnaSQZiCg63YPQHEN4/edit).

[2015-07-29 20:32] afeld commented on #56
Would love to figure out an easy way to distribute [this script](https://github.com/18F/C2/pull/500), since it's meant to be general-purpose.

[2015-07-30 21:39] dlapiduz commented on #61
@afeld can we do a marketing page instead? (not joking)

[2015-07-30 21:42] afeld commented on #61
:+1:

/cc @rdpiazza

[2015-07-31 15:04] dlapiduz commented on #61
Moved to a card: https://trello.com/c/6zeoLr7A/206-epic-build-landing-page

[2015-08-03 17:35] afeld commented on #69
Basically that whole page needs updating.

[2015-08-03 21:27] dhcole commented on #56
How about as its own repo with a package.json that has a `{ "bin": "deploy.sh" }` parameter? That should make it executable. Instructions for use would be:

[code]

[2015-08-04 04:28] afeld opened #82 "make a page around deploying Docker files/images"
Could apply to services _and_ applications, right?

[2015-08-04 07:33] afeld commented on #56
Good call!

https://github.com/18F/cf-blue-green

[2015-08-05 20:28] #69 closed, assigned to nobody

[2015-08-06 14:03] dlapiduz commented on #82
I would like to stay away from the "Docker" brand. We have the page about deploying the docker services but until CF Diego happens we should tone down "Docker" availability.

[2015-08-06 14:14] afeld commented on #82
Fair enough. We can reopen this issue once it's relevant.

[2015-08-06 14:14] #82 closed, assigned to nobody

[2015-08-11 21:38] #56 closed, assigned to afeld

[2015-09-15 18:08] dhcole opened #99 "Write up instructions for accessing a DB over cf-ssh"
Approach is generally,
1. `cf-ssh APP_NAME`
2. `curl https://s3.amazonaws.com/18f-cf-cli/psql-9.4.4-ubuntu-14.04.tar.gz | tar xvz`
3. `./psql/bin/psql $DATABASE_URL`

[2015-09-15 18:09] dhcole commented on #99
h/t to @pkarman for building from source and uploading the compiled assets

[2015-09-15 18:10] dhcole commented on #99
Where is the right place to host the tar file?

[2015-09-15 19:26] afeld commented on #99
`cf-ssh` is uploaded as a release at https://github.com/18F/cloud-foundry-scripts/releases/ ... there's also an `18f-cf-cli` bucket on S3.

[2015-09-15 20:45] jessieay opened #100 "How to I get access to orgs?"
Working on a Slack bot that I will deploy to Cloud Foundry. From what I've read on the docs, seems like this should be a part of the `devops` org within CF (since that is where Hubot lives) - is that right? If so, how do I get access to the`devops` org?

[2015-09-15 21:00] ozzyjohnson commented on #100
@jessieay - Typically via an issue in https://github.com/18F/DevOps

[2015-09-16 17:41] afeld opened #101 "Rename repository"
The name isn't super clear...how about `cloud-foundry-docs` or `docs.18f.gov`?

[2015-09-16 17:47] jessieay commented on #101
I like the idea of having naming consistency between 18F sites and their GitHub repos! Also, this one in particular was hard for me to find as a newb.

[2015-09-17 22:25] dhcole opened #103 "Help understanding message in logs"
I see this occasionally:

[code]

But as fair as I can tell, nothing actually happened with the app. What does this mean?

[2015-09-17 23:35] dlapiduz commented on #103
Could it be that the app ran out of RAM?

[2015-09-18 00:38] ozzyjohnson commented on #103
@dhcole - You'll see that any time your app fails. Check `cf events APPNAME` looking for `app.crash` events to get details on what caused the crash. Most common issues are failure to start accepting connections or an app exhausting its memory / disk quota.

[2015-09-20 20:33] dlapiduz commented on #101
@afeld I am thinking of changing some of the repos to be less dependent on the "cloud foundry" brand and be more about "cloud.gov". The problem is that "cloud.gov" doesn't really exist yet, so I am kind of waiting on that. Does that make sense?

[2015-09-20 22:20] afeld commented on #101
Sounds good.

[2015-09-20 22:20] #101 closed, assigned to nobody

[2015-09-25 03:05] pkarman commented on #99
@afeld thanks, updated url to: https://s3.amazonaws.com/18f-cf-cli/psql-9.4.4-ubuntu-14.04.tar.gz

[2015-09-25 04:38] afeld commented on #99
:shipit:

[2015-09-25 13:08] dlapiduz commented on #99
@afeld this is not a PR :)

[2015-09-29 18:34] melodykramer opened #105 "Updates haven't updated since May"
Is this supposed to be pulling from somewhere else?

https://docs.18f.gov/updates/2015-05-29/

It hasn't updated in a number of months.

[2015-09-30 22:19] dhcole commented on #103
Not sure what the deal was, but there was nothing in `cf events`. Unlikely a ram issue as its just nginx using about 5mb of 16mb limit. It has since stopped though.

[2015-09-30 22:19] #103 closed, assigned to nobody

[2015-10-01 15:22] #99 closed, assigned to nobody

[2015-10-01 23:20] melodykramer opened #107 "typo on front page"
Saw this [tweet](https://twitter.com/iandees/status/649725029895114752)

This paragraph: Develop, run, and manage web applications without the complexity and cost of building and maintaining infrastructure. Focus precious team effort in improving your service!

on the main page should read:

Develop, run, and manage web applications without the complexity and cost of building and maintaining infra

[2015-10-01 23:21] melodykramer commented on #107
oops - thought this was the repo for cloud.18f.gov - where is that one?

[2015-10-02 00:26] mogul commented on #107
https://github.com/18F/cf-landing

[2015-10-02 00:26] #107 closed, assigned to nobody

[2015-10-02 00:29] mogul commented on #105
You're right... We've just started to publicize regular updates on https://cloud.18f.gov (soon to be https://cloud.gov), and old updates you see on docs.18f.gov are a holdover that should be migrated or removed. Unfortunately we just lost the link to the updates page when we changed to the Federalist template, so they're not showing up there. I will look into that shortly.

[2015-10-02 00:30] mogul commented on #105
See in particular [the posts on Diego's branch](https://github.com/18F/cf-landing/tree/sbst-template/_posts)... Feel free to add to that directory if you'd like to help. :)

[2015-10-02 00:34] mogul commented on #107
(Also, that's already fixed on the sbst-template branch, but not yet deployed. See also [Hillary's issue with various niggles](https://github.com/18F/cf-landing/issues/16), which we've not yet addressed.)

[2015-10-09 15:07] wslack commented on #105
What's the status of this now that it lives at docs.cloud.gov? cc @dlapiduz

[2015-10-09 15:10] dlapiduz commented on #105
@wslack we are going to move the updates to https://cloud.gov/updates. This section is deprecated...

[2015-10-14 06:54] afeld commented on #105
Corresponds to https://github.com/18F/cg-landing/issues/18.

[2015-10-20 21:01] jessieay opened #119 "rename again?"
Hey - this repo was recently renamed, but it is still hard to find. When I was searching for it within the 18F org on github, I searched "cloud" "cloudfoundry" and "cloudgov" but it didn't come up. Perhaps `cloud-gov-docs` would be a better and more findable name?

[2015-10-21 17:00] jessieay commented on #100
This is resolved. Closing.

[2015-10-21 17:00] #100 closed, assigned to nobody

[2015-10-28 03:12] dlapiduz commented on #119
@jessieay we are trying to group all the cloud.gov repos under the `cg-` prefix... it might make it a bit harder to find but there is a link in docs.cloud.gov. Maybe we can make it more prominent?

[2015-10-28 18:26] jessieay commented on #119
How many cloud.gov repos are there? I think prefixes can be helpful, but only necessary in cases where there are many related repos.

My use case is that I was on `docs.18f.gov` and saw something I wanted to change. I then went to https://github.com/18F and searched for the related repo by typing in "cloud" "cloudfoundry" and "cloudgov"

Another way to make the connection between the site and sour

[2015-10-28 19:47] dlapiduz commented on #119
@jessieay we currently have docs.18f.gov for legacy purposes. We will retire it some time in favor of docs.cloud.gov.

[2015-10-28 19:57] dlapiduz commented on #119
@jessieay we have about 25 repos for cloud.gov and the number is only growing. That is why we are trying to prefix everything...

[2015-10-28 20:01] jessieay commented on #119
Makes sense! (re: naming convention / # of repos). I wasn't aware there were so many.

`docs.cloud.gov` will be a much better url!

closing this issue

[2015-10-28 20:01] #119 closed, assigned to nobody

[2015-10-28 20:31] mogul commented on #119
(Just to be clear, cloud.docs.gov is already up, and is considered the canonical URL... It's what cloud.gov links to under "Documentation".)

[2015-10-28 20:44] jessieay commented on #119
Ok - I think I first visited docs.18f.gov via a new hire checklist that told me to go there to get started with CF, but I am no longer sure where that checklist was.

[2015-11-05 19:21] afeld opened #126 "Take down docs.18f.gov"
...or redirect to docs.cloud.gov.

https://18f.slack.com/archives/devops/p1446750622000040

/cc @LindsayYoung

[2015-11-18 04:06] dlapiduz commented on #126
done

[2015-11-18 04:06] #126 closed, assigned to nobody

[2015-12-09 16:59] ultrasaurus opened #134 "documentation on how we set up a password for kibana proxy in VCAP services"
we use user-provided credentials in ED, would be good to document how to do this for other projects

[code]

results in

[code]

[2015-12-09 17:03] ultrasaurus opened #135 "as a developer, I would love it if there were a link to this repo in the footer"
I always forget the repo name!

[2015-12-09 19:27] ozzyjohnson commented on #134
@ultrasaurus - I could certainly add a step for the addition of generated credential pair via `cf cups` to the durable logging doc. Is that what you're thinking?

[2015-12-10 17:37] mogul commented on #134
I think it'd be a generally useful article in its own right... The
technique is not specific to ELK.

On Wed, Dec 9, 2015 at 11:27 AM, Ozzy Johnson notifications@github.com
wrote:

[2015-12-10 17:41] ozzyjohnson commented on #134
I thought we had something for this on the docs site. Probably deserves to be highlighted in any case. I'll take it as a thing to do and perhaps pair on.

[2015-12-10 21:55] afeld opened #137 "Add a page on PHP"
Include information about / links out to:
- [PHP extensions](https://github.com/cloudfoundry/php-buildpack/blob/master/docs/config.md#php-extensions)
- [Composer](https://github.com/dmikusa-pivotal/cf-ex-composer)
- [Wordpress example](https://github.com/18F/cf-ex-wordpress)
- [Drupal example](https://github.com/dmikusa-pivotal/cf-ex-drupal)
- Drush
- Changing the PHP session storage to not use th

[2015-12-11 23:08] hollyallen opened #138 "As a user, I need to specify a version of elasticsearch managed service"
open-data-maker uses the elasticsearch managed service. The elasticsearch 2.0 service has a breaking change, and without a code change in open-data-maker it cannot be upgraded to use elasticsearch 2.0. I can understand wanting to offer 2.0 as a version of the managed service. If that is done, we'll want a way to run a pre-2.0 version instead, until such time as the necessary code change can be mad

[2015-12-21 11:48] adelevie opened #141 "Patterns for multiple environments / help me debug my Rails setup / rubber duckie session"
### Problem

As a dev, I am looking for a standard technique for hosting a web application in production and staging environments. There seem to be multiple ways to approach this problem, but this seems like a process that need not (and should not) be reinvented for each app.

I'm currently struggling through this for a Rails app, but I think the solution here could be framework/language-agnostic.

[2015-12-23 22:16] jmcarp opened #143 "Clarify quota units"
According to https://docs.cloud.gov/apps/quotas/, quotas are allocated in "quota units", each of which provides a fixed number of routes, services, memory, etc. But it's not clear that resources are actually allocated like this--for example, FEC just increased its memory quota by 3GB, which is not a multiple of the 3.75GB quota unit level. As a member of the engineering team and curious reader of

[2015-12-27 16:00] #105 closed, assigned to nobody

[2015-12-28 07:38] afeld opened #146 "Wercker not attaching the commit status"
The builds seem to be triggered, but the commit status isn't updated for some reason.

<img width="1440" alt="screen shot 2015-12-28 at 1 36 20 am" src="https://cloud.githubusercontent.com/assets/86842/12015543/857880b2-ad03-11e5-965c-5101896fab1f.png">

The documentation is [here](http://old-devcenter.wercker.com/articles/bestpractices/pullrequests.html), but doesn't seem to include any informati

[2015-12-29 17:53] mogul commented on #143
/cc @ozzyjohnson @NoahKunin Can you comment on this?

[2015-12-29 18:01] mogul commented on #143
(I'd like to take routes out of the equation... They don't cost us anything, so why limit them?)

[2015-12-29 18:02] ozzyjohnson commented on #143
In short, "quota units" are a relic of a time when we were not at all clear on the scaling, pricing or rate of oversubscription. They were set that simplify what were then entirely manual processes and getting mired in bespoke quotas and / or running at a loss.

There has been _a lot_ of change since then and units no longer offer the same, if any value.

The work around moving to a continuously d

[2015-12-29 19:11] mogul commented on #143
@dlapiduz and I just discussed this a bit in the weekly grooming session too... It sounds like we want "quota-units" to no longer be a thing, and move to the model where all the usage is charged in terms of MB-used, rather than quota-units-reserved. (That might result in a sudden drop in the actual amount that people are billed... Want to make sure @NoahKunin is aware of that!)

Then the role of t

[2015-12-29 19:13] mogul commented on #143
Actually I take that back:

We never charged in quota-units-reserved, but only ever in terms of quota-units-used. So the amount should be the same... right?

[2015-12-29 19:15] mogul commented on #143
Correcting myself as I finally get my head around this... No, it should _still_ result in a drop because people would previously pay in terms of quota-units of 3.75GB, even if they were only using a fraction of one, where now they'd only pay for that fraction of GB actually used. Right?

[2015-12-29 20:20] ozzyjohnson commented on #143
Probably best to drop the "quota unit" idea completely. That was first about capacity planning / billing and second about predictable performance for users. Units haven't been strictly adhered to for a while as anything but a minimum.

Not exactly. Until there's some form of autoscaling it's also about ensuring availability and limiting exposure as operators as long there's any oversubscription. U

[2015-12-29 20:23] ozzyjohnson commented on #143
They've been paying the full price of their quota reserved in MB per day which may or may not be a round multiple of the quota-units we're trying to forget. Moving to a true usage-based model while keeping the same price me MB will cause a drop as most orgs certainly won't have been consuming 100% of their quotas 100% of the time.

[2015-12-29 23:38] mogul commented on #143
OK, so we still want to pay attention to the overall quota set across all orgs, and disincentivize setting an arbitrarily high quota per org, since it will drive us to make unwise capacity investments. I'm looking now with `cf quotas` and I can see that we've essentially set up a bespoke CF `quota-plan` for each org.

Quick questions, since [the CF docs](https://docs.cloudfoundry.org/running/manag

[2015-12-30 01:01] ozzyjohnson commented on #143
Yes. However, that paragraph is inconsistent / confusing and best left ignored.

Yes.

No.

Yes, operators have to create and set the org quota plan for them. However, OrgManagers can create, set and manage _space quotas_ within their org.

None of it.

The only part of this puzzle which currently fits is the concept of generic quotas. A 4GB quota assigned to multiple orgs confers the ability to d

[2015-12-30 05:57] afeld commented on #61
It lives!

https://docs.cloud.gov/intro/overview/why-build-cloudgov/

[2015-12-30 05:57] #61 closed, assigned to nobody

[2015-12-30 05:57] afeld commented on #13
:boom: https://docs.cloud.gov/apps/node/

[2015-12-30 05:57] #13 closed, assigned to nobody

[2015-12-30 05:58] afeld commented on #18
There is now a guide:

https://docs.cloud.gov/apps/flask/

@monfresh Feel free to add to it if you think there's anything missing!

[2015-12-30 05:58] #18 closed, assigned to monfresh

[2015-12-30 05:59] afeld commented on #12
:point_right: https://docs.cloud.gov/apps/custom-domains/

[2015-12-30 05:59] #12 closed, assigned to nobody

[2015-12-30 06:54] mogul commented on #143
I'm trying to reconcile that with [this Pivotal documentation](https://docs.pivotal.io/pivotalcf/opsguide/change-quota-plan.html) which is nearly as confusing as the community docs, and seems to be in their PCF operator docs. Yet it seems to imply that OrgManagers can in fact set their quota-plan from the list of available plans using `cf curl`. Yet since that documentation was written, the CLI de

[2015-12-30 07:12] mogul commented on #143
Never mind, I'm a moron... I thought `cf quota sandbox` was showing me details of the quota for _org_ sandbox. But in reality that's just showing me the details of the _quota plan_ called sandbox. I tried it again, but this time properly using `cf org sandbox` to get the org quota details, and it clearly worked:

[code]

So there's no weird behavior, just me using the wrong command.

Back to the q

[2015-12-30 20:18] afeld opened #153 "As a user, I want to know where I can go to get help"
- If 18F staff, use #cloud-gov-support.
- Otherwise, use [the Google Group](https://groups.google.com/a/gsa.gov/forum/#!overview).
- If there's an issue with the documentation, [open an issue](https://github.com/18F/cg-docs/issues/new).

@mogul Does that sound right, for the current state of things?

[2015-12-30 22:04] afeld opened #154 "Make heading levels consistent"
I am noticing that we are using various heading levels across different pages (some using an `<h2>` for the top-level sections, others using `<h4>`, etc.) Need to go through each page and ensure they are all using consistent levels.

[2015-12-30 23:06] dlapiduz commented on #146
Sent a message to Wercker about it... lets see what they say

[2016-01-01 01:53] mogul commented on #153
Yes, though we're about to flip them from e-mail over to community.cloud.gov
.

On Wednesday, December 30, 2015, Aidan Feldman notifications@github.com
wrote:

[2016-01-01 04:24] afeld commented on #153
Nice! Should I update #158 now, or wait?

[2016-01-02 11:33] dlapiduz commented on #143
:+1: to generic quotas

[2016-01-03 22:47] #153 closed, assigned to nobody

[2016-01-04 21:12] dlapiduz commented on #146
It is baaacckk!

[2016-01-04 21:12] #146 closed, assigned to dlapiduz

[2016-01-06 16:26] afeld opened #162 "audit for what can be merged to the upstream Cloud Foundry docs"
_Will update this list with specific areas to look at._

* https://docs.cloud.gov/ops/deploying-the-admin-ui/
    * See discussion at https://github.com/18F/cg-docs/pull/161/files#r48972043.
* https://github.com/18F/cg-site/pull/572

[2016-01-07 05:17] mogul commented on #143
/cc @NoahKunin Please confirm that:
1. you're OK with dropping quota-units and just specifying/documenting quota in GB, and
2. you're OK with replacing the existing per-org quotas with generic quotas.

I'm not asking so much whether you're OK with it, since I think it's pretty straightforward... Mainly I'm worried about whether there's any unforeseen downstream impact on the billing process if we

[2016-01-07 15:35] #62 closed, assigned to nobody

[2016-01-08 19:57] mogul commented on #143
@dlapiduz started cleaning this up in 81e17706ca145199ddcdb375656be2fe23baace6

@NoahKunin before we merge that, can you please confirm?

[2016-01-10 23:23] NoahKunin commented on #143
@mogul I'm ok with all of this. Usage costs are always going to be a very small amount of our revenue. We need consistency and stability in this area, not accuracy at the moment. As long as it doesn't drop revenue more than 5%, we're fine (which per my reading of the above, it won't).

However, _no change can occur_ without the Quotas Billing Portal reflecting this information accurately. So don't

[2016-01-13 00:45] mogul commented on #143
We confirmed that the quotas billing portal never knew anything about the quota-unit concept so no technical changes were needed. The text on the page was cleaned up and made accurate as part of #160.

[2016-01-13 00:45] #143 closed, assigned to nobody

[2016-01-15 15:59] afeld opened #179 "ensure that all links to Cloud Foundry documentation go to the community version"
We have multiple links to http://docs.run.pivotal.io (and possibly other providers), where linking to http://docs.cloudfoundry.org/ would be more appropriate.
- [ ] Change the existing links
- [ ] Add an automated test to suggest the domain be switched if this comes up again

[2016-01-15 16:01] sharms commented on #179
I can adapt the title checker to also check for this in wercker

[2016-01-15 16:17] afeld opened #180 "consider hosting the CF docs ourselves"
The Cloud Foundry documentation is structured in an interesting way: each "module" is hosted as a separate repository, and then [brought together via Bookbinder](https://github.com/cloudfoundry/docs-book-cloudfoundry). The other interesting thing is that the docs are [templatized](https://github.com/cloudfoundry/docs-book-cloudfoundry/blob/master/config.yml), so that a Cloud Foundry host like Pivo

[2016-01-15 17:03] jameshupp commented on #180
Okay, so as I understand this:
- Our documentation would build from the canonical docs, so when they update, ours update, too.
- We can incorporate supplemental info that's specific to cloud.gov alongside the most relevant canonical info, and we can exclude pieces of the canonical docs that aren't relevant to us.

If that's the case, the cons seem to me like almost non-issues. I don't see why this

[2016-01-15 17:06] afeld commented on #180
Yep, I think you've got it. One more bonus is that we would get to put the cloud.gov branding on the docs :sparkles:

[2016-01-15 19:31] msecret commented on #180
I think this is a great idea. We've previously talked about how we might have a need to add more layers of hierarchy then what's offered in CF, and if we could add on to the documentation, we could make this easier.

[2016-01-20 01:40] mogul opened #184 "Provide anchor links for opened navigation containers"
Since containing navigation has no content, right now it's not possible to give someone a link where the nav sidebar is open and showing them the obvious neighbors for the page that they're on. I'd like to be able to do that.

Ref:

[2016-01-26 21:41] afeld commented on #24
Ah, found a trick through another site: we can have a search box that redirects the user to Google, using the search term `<query> site:docs.cloud.gov`. Example:

https://www.google.com/search?q=organizations+site%3Adocs.cloud.gov

Not ideal since they leave the site, but better than nothing.

[2016-01-26 21:46] afeld opened #188 "add guide around setting up a new organization"
Don't think it's in the docs already. Should include:
- Command to create the org
- Link to page around managing users in an org
- Command to create/set up the quota
  - I believe we are now using the `MB #` from the [Agreements Tracker](https://docs.google.com/spreadsheets/d/1hjCYIskgD_x_MI1ehXoiz2Qvsyxj1yK3fxabkezMPiE/edit#gid=0).

[2016-01-27 18:26] msecret opened #190 "Table layout too wide on mobile sized devices"
https://files.slack.com/files-pri/T025AQGAN-F0KHLH52P/slack_for_ios_upload.png

[2016-01-27 19:06] msecret opened #191 "Ensure cloud.gov logo links to cloud.gov"

[2016-01-27 23:58] #191 closed, assigned to nobody

[2016-01-28 00:06] afeld commented on #190
Closed by #194.

[2016-01-28 00:06] #190 closed, assigned to nobody

[2016-01-29 04:52] afeld opened #197 "As an outside agency, I want to know how an ATO on cloud.gov will work"
This question seems to come up a lot. We are answering the question for 18F staff in [Before You Ship](https://pages.18f.gov/before-you-ship/ato/delegation/), but there should really be some information on the docs site about where responsbility lies for what. Feel free to convert this into a card or whatever it should be.

/cc @18F/ato https://github.com/18F/product-guide/issues/21

[2016-01-29 12:41] dlapiduz commented on #180
@afeld I think this would be pretty interesting... particularly doing it so in a programatic way so we pick and choose but at the same time we can keep up to date.

[2016-01-29 14:24] afeld opened #202 "incorporate notes from Google Docs"
A couple people had written up notes:
- [ ] [EPA on-boarding](https://docs.google.com/document/d/1HOWUV_cqwyfOXJ_2ssb_FU7pdHjhQGmvi1OKxxN0aCc/edit)
- [ ] @meiqimichelle's [notes from an 18F Cloud Foundry workshop](https://docs.google.com/document/d/10Ql-HrxVOm7KHld48HiZMSdONuy2TTUnB-bYVna8wz4/edit)

[2016-01-29 17:04] afeld opened #203 "update Contributing docs with continuous deployment information"
https://trello.com/c/mGRJbPSD/303-document-how-concourse-cf-deployment-pipeline-works

https://docs.cloud.gov/ops/updating-cf/ and others are now out-of-date ... we should update these pages with the updated information about Concourse.

[2016-02-01 04:32] afeld commented on #197
Some inspiration, via @mogul:
- https://policy.catalyze.io/#compliance-inheritance
- https://policy.catalyze.io/#hipaa-inheritance-for-paas-customers

https://18f.slack.com/archives/compliance-toolkit/p1454299968000306

[2016-02-01 18:24] afeld opened #205 "add favicon"
@msecret I'm seeing [a folder under cg-style](https://github.com/18F/cg-style/tree/master/img/favicons), but there isn't one appearing for the live site. https://cloud.gov has a :cloud: favicon, but maybe it should be switched to the new logo?

[2016-02-01 18:34] msecret commented on #205
Yes it should, I haven't added this to cg-style and the other repos yet, but plan to do so.

Also, the favicons in those folders are from uswds, so it would not use those.

[2016-02-01 20:22] #203 closed, assigned to nobody

[2016-02-02 18:40] #184 closed, assigned to nobody

[2016-02-03 18:49] afeld opened #209 "offer direction for different audiences"
@melodykramer asked the question "where should new 18F developers hires be directed to learn about cloud.gov?" I think that [deploying](https://docs.cloud.gov/getting-started/your-first-deploy/) is the best first step for technical folks, just to get a feel for it, whereas acquisition folks will be most interested in the [pricing](https://docs.cloud.gov/intro/pricing/rates/), [what's included](htt

[2016-02-03 18:51] melodykramer commented on #209
I think it would be helpful for technical newcomers to learn two specific things:

"if you need to get something online, then you need to use cloud.gov"

Then "this is how you put something online using cloud.gov"

I think being led to docs.cloud.gov can be overwhelming and lets them know about features, but they’re not necessarily making the connection that they should use it for everything.

[2016-02-04 02:27] mogul opened #211 "Add the US govt website banner"
In order to be on-brand and match the header we show on the cloud.gov landing page, the docs.cloud.gov site should show the "An official website of the United States Government :us: | This site is currently in alpha. _Learn more._" message at the top of the header.

![image](https://cloud.githubusercontent.com/assets/47762/12803984/e3f42e76-cabc-11e5-8b4f-8176a4a03d32.png)

[2016-02-04 04:17] mogul commented on #197
Card [created](https://trello.com/c/gU6Z3HXB/661-provide-ato-guidance).

[2016-02-18 22:10] afeld opened #219 "document how to set up new orgs"
Would be great to have this automated (or single-click/command), but in the meantime, let's create documentation about how to create new sandbox and "production" orgs.

## Acceptance criteria

* [ ] As a cloud.gov admin, I know how to create new organizations in cloud.gov

[2016-02-19 02:37] mogul commented on #219
/cc @dlapiduz

[2016-02-19 22:27] jmcarp opened #220 "Include rates in the marketplace"
According to `rates.md`:

As far as I can tell, `cf marketplace` doesn't display rates for any available services--it only indicates which services are free and which are paid. Ideally `cf marketplace` would show prices, but until it does, let's keep the docs accurate. Maybe this line could read "you will eventually be able to see rates using `cf marketplace`".

Or maybe I'm just misinterpreting t

[2016-02-24 16:49] afeld commented on #219
- What information is needed from the requester (`MB #`?)
- Whether @NoahKunin still needs to approve (I hope we can move away from this?)
- What naming conventions are in place

Anything else?

[2016-02-24 19:47] dlapiduz commented on #219
I think we need guidance from @NoahKunin on what are the expected steps...

[2016-03-03 16:47] jmcarp commented on #220
Ping @mogul

[2016-03-10 00:46] brittag opened #228 "Clarify ""forked" from the Hugo documentation" in the readme?"
Looking at this readme, I see "The theme for the site has been "forked" from the Hugo documentation", but I'm not sure as a reader if that means "some of the files in this repository are [Apache licensed](https://github.com/spf13/hugo/blob/master/LICENSE.md) rather than public domain licensed" or if there are no licensing implications/complications. It might be nice to clarify this, [potentially l

[2016-03-11 20:27] nickbristow opened #231 "508 Issues from pa11y-rails"
Results can be recreated using [HTML_CodeSniffer](http://squizlabs.github.io/HTML_CodeSniffer/)
## Results for https://docs.cloud.gov
- **Error** Anchor element found with a valid href attribute, but no link content has been supplied.
  - WCAG2AA.Principle4.Guideline4_1.4_1_2.H91.A.NoContent
  - `#introduction:d680e8a854a7cbad6d490c445cba2eba > a`
  - `<a class="anchorjs-link " href="#introduction

[2016-03-15 18:04] afeld opened #234 "document options for recurring tasks"
https://18f.slack.com/archives/cloud-gov/p1458062762000038

[2016-03-15 21:04] afeld opened #235 "Anchor links no longer appearing in docs"
What we're after:
 - Reviewing this issue to determine if it's a valid issue or not

Notes:
 - This should appear on at least every H2, H3 (not H1), and possibly beyond
 - Thinking that some of our dashboard changes could be affecting the docs. So, it'd generally be good to keep an eye on this sort of think in the future.

Hovering over a heading on any particular page isn't appearing...not sure i

[2016-03-15 22:07] msecret commented on #235
@afeld do we know what version(or commit hash) of the repo is currently on production? I know at some point we were not seeing most recent changes deployed, and that might point to the issue.

[2016-03-15 22:11] afeld commented on #235
Wercker indicates that it's da8fe4940cac1e0e53534a864f24e4134d1511c5, deployed yesterday.

https://app.wercker.com/#applications/55036dfb210ef9cf6a005391/tab/deployment/

[2016-03-15 22:22] msecret commented on #235
Looks like the JS is on the page:

[code]

[2016-03-15 22:23] msecret commented on #235
It could be that the anchorjs icons aren't loading correctly. I can't find them in the resources/network panel.

[2016-03-18 16:59] afeld opened #236 "document how to deploy a static site that requires a build"
e.g. Jekyll and Hugo. https://docs.cloud.gov/apps/static/ only covers how to push HTML files.

[2016-03-18 18:27] jessieay commented on #234
Dolores bot also uses a clockwork / foreman combo on Cloud.gov (inspired by C2) to send jobs once a minute https://github.com/18F/dolores-landingham-bot/

[2016-03-18 21:22] monfresh commented on #234
Yep, I ended going that route as well. It works great. Here's the PR: https://github.com/18F/seal/pull/7

[2016-04-03 01:47] afeld commented on #205
Seems to be solved!

![screen shot 2016-04-02 at 9 47 26 pm](https://cloud.githubusercontent.com/assets/86842/14230241/84a6bf7c-f91c-11e5-9e45-da4b6cd6aa7e.png)

[2016-04-03 01:47] #205 closed, assigned to nobody

[2016-04-03 01:48] afeld commented on #188
Dupe of https://github.com/18F/cg-docs/issues/219.

[2016-04-03 01:48] #188 closed, assigned to nobody

[2016-04-13 16:33] lukad03 opened #243 "Errors in s3 App Documentation"
In the s3 service documentation, the command for creating a service is incorrect and needs to be changed from `cf create-service <APP_NAME>-s3 s3 basic` to `cf create-service s3 basic  <APP_NAME>-s3`.

For consistency, the instructions for creating an empty s3 app should also reflect this second step. For example:

[code]

[2016-04-25 13:26] DavidEBest opened #248 "The recommended multi-buildpack has been deprecated"
The multi-buildpack mentioned in the [docs](https://docs.cloud.gov/apps/multi-buildpack-deploys/), ddollar's [heroku-buildpack-multi](https://github.com/ddollar/heroku-buildpack-multi) has been deprecated. According to the [warning message](https://github.com/ddollar/heroku-buildpack-multi/commit/1888902a4cabfe63f46c7d684dd772cff14312e8), it'll stop functioning 1/1/2017.

The documentation should

[2016-04-25 13:50] afeld commented on #248
Bummer! That being said, it no longer functioning on Heroku doesn't mean it won't still function in Cloud Foundry. Maybe there will/should be a CF fork?

[2016-05-09 15:31] jmcarp opened #251 "Elaborate on user-provided services"
We briefly encourage users to use user-provided services over envvars, but we don't provide much information, and the text appears in the production-ready checklist. I think it would be useful to say more about why user-provided services are preferred, and link to the cf docs, and helper libraries like https://github.com/cloudfoundry/cf-app-utils-ruby and https://github.com/jmcarp/py-cfenv (becaus

[2016-05-11 03:06] afeld opened #253 "Check and fix broken links"
We check internal links as part of the Wercker build, but I just cam across two broken external ones in a row. We should run [HTML Proofer](https://github.com/gjtorikian/html-proofer) locally and fix them.

[2016-05-13 19:16] dlapiduz opened #257 "RSA-A: Document security boundary between platform and tenants"
In order to meet `NIST 800-53 SA-??` and avoid confusion about the boundary of responsibility between cloud.gov and tenant teams, we want docs illustrating which aspects of an apps are the tenant's responsibility, especially when they are using supported vs non-supported buildpacks, and Docker containers.

**Acceptance Criteria**
- [x] There's a page describing the security responsibilities of ten

[2016-05-13 19:17] mogul commented on #257
See also [this example](https://twitter.com/nigewillson/status/726368948594298880) which would give more detail.

[2016-05-25 13:52] catherinedevlin opened #264 "Incorrect order of arguments in s3 instructions"
Currently https://docs.cloud.gov/apps/s3/ reads

[code]

which produces

[code]

Correcting the order of instructions

[code]

Making a pull request to fix now.

[2016-05-26 20:57] #264 closed, assigned to nobody

[2016-06-07 20:42] mogul commented on #257
/cc @brittag; one of many things we need to think about on the content side, although ice-boxing for now

[2016-06-07 21:10] mogul commented on #24
Closing this one in favor of https://github.com/18F/cg-deck/issues/237 which is also `In Progress`.

[2016-06-07 21:10] #24 closed, assigned to nobody

[2016-06-07 22:05] mogul commented on #243
Resolved in #264. Sorry for the long delay!

[2016-06-07 22:05] #243 closed, assigned to nobody

[2016-06-09 18:15] afeld opened #271 "As a user of cloud.gov, I want to know about how to set up redirects"
Users of cloud.gov need to know the options for setting up redirects, e.g. handing switching from an old domain to a new one. There are a few options we should talk about:
- Setting up a little [staticfile](http://docs.cloudfoundry.org/buildpacks/staticfile/index.html) app with an nginx config that handles redirection
- For servers, having multiple routes mapped to the same Cloud Foundry applicati

[2016-06-12 19:10] #211 closed, assigned to nobody

[2016-06-13 17:00] afeld opened #278 "document how to do manual debugging of cloud.gov"
@sharms mentioned that, in order to debug machines/BOSH/etc. in production, he uses `fly intercept`. Let's write down the (currently) recommended way of doing this.

[2016-06-13 17:12] afeld opened #279 "Investigate node-sass transitive dependency"
@msecret mentioned in https://github.com/18F/cg-docs/pull/273 that `node-sass` shouldn't be required for cg-docs to be built, but it seems to be a dependency through `uswds`. The install for it (because of `node-gyp`) is a bit of a pain, so let's look into how to remove it for users of these packages.

[2016-06-13 20:56] msecret commented on #279
I figured it out:

cg-style depends on uswds which depends on bourbon-neat which depends on node-sass. Technically, I can't find a reason why bourbon-neat would require node-sass as a normal dependency rather then a dev on. I can try and talk to them though.

[2016-06-16 17:04] LinuxBozo opened #283 "Configuration Management plan"
In order to satisfy the CM family of NIST controls (CM-9/10/11), the cloud.gov team needs to have a written Configuration Management plan.
- [x] docs.cloud.gov contains a page with the configuration management plan

[2016-06-16 17:22] brittag opened #284 "RCP-A: Develop and publish Contingency Plan"
In order to satisfy the CP family of NIST controls, the cloud.gov team needs to have a written Contingency Plan.
- [ ] docs.cloud.gov contains a page with the contingency plan

Things to cover:
- [x] Start from cg-provision,
- [ ] Add contact info (appendix A)
- [x] Add recovery time objectives
- [x] Who approves changes to the plan
- [x] Who gets notified
- [ ] Testing schedule + metrics
- [x] S3

[2016-06-17 17:17] mogul opened #286 "RAC-C: Shorten _deployer password expiry and document how to avoid constant refresh"
In order to comply with federal compliance rules and avoid inconveniencing users, we want to limit the valid lifetime for passwords on local accounts and show teams how to minimize the impact of that change on their CD processes.

**Acceptance Criteria**
- [ ] _deployer account password lifetime is limited to 30 days or less
- [ ] Tenant teams receive advance notice of the change
- [ ] The advance

[2016-06-17 17:53] afeld commented on #286
Expiry already shortened: https://github.com/18F/cg-deploy-cf/pull/77.

[2016-06-17 17:54] afeld commented on #286
Possibly a dupe of https://github.com/18F/cg-product/issues/15?

[2016-06-17 19:46] brittag opened #287 "Add to Security IR Guide/Checklist to guide when/how to communicate outside the team about incidents"
For some kinds of security incidents, part of our response should be explaining to affected people and/or the public what happened and how we handled it, so I'd suggest putting some guidance in https://docs.cloud.gov/ops/security-ir/ to help us be consistent about when/how to inform people. I'm not sure what this should be; it might be as simple as a step for high-sev incidents saying "contact the

[2016-06-17 20:46] #283 closed, assigned to LinuxBozo

[2016-06-17 23:17] brittag commented on #284
I put together [a draft document in our GSA Google Drive](https://docs.google.com/document/d/1XHSd1hYjpdbu2wC1pzUSgjw6qtSU_sKUGQ8SsZVNcuQ/edit) with two parts: reference info listing some useful requirements/notes for this contingency plan, and an early draft of a plan. This plan needs more work from other people who have a deeper perspective on our systems and practices.

[2016-06-18 00:19] jacobian commented on #287
Agreed; this a big can of worms, however. I'll crack it open next week and see what crawls out :)

[2016-06-18 04:10] mogul commented on #257
Pulled this out of the icebox, as it got called out during our interview on the SA section.

[2016-06-18 04:57] mogul commented on #284
Points we had in our notes; please double-check that these are covered.

[2016-06-20 15:35] mogul commented on #286
Pretty sure we rolled that back out until we could communicate with users about it.

[2016-06-20 15:35] mogul commented on #286
No, that one is about our internal credentials, eg the firehose-to-logstash.

[2016-06-21 17:19] brittag commented on #257
I'd be up for working on this with somebody; here are bits I poked around at while getting some context on this:
- [Prototype diagram](https://docs.google.com/drawings/d/1UBiOteSPXpA72KE52Kh-j7aYr73zTkzJ_oMuw5F293I/edit)
- Pages - ["Your Security Responsibilities" seems like a fine title, why not](https://github.com/brittag/cg-docs/blob/security-lines/content/apps/security-responsibilities.md) + [

[2016-06-21 21:03] mogul commented on #286
Can we clarify if this comes from Veris or explicitly from FedRAMP requirements? In other words, can we pick a different cadence for rotation, or limit it to only certain kinds of accounts?

[2016-06-22 15:45] afeld commented on #278
There's a brand-new process for this: https://18f.slack.com/archives/cloud-gov-atlas/p1466608230000801

[2016-06-22 16:15] rogeruiz commented on #278
Only big concerns for me here are:
- Where should the docs live? a specific repo? `18F/cg-deploy-concourse`, `docs.cloud.gov`, somewhere else?
- Aside from getting into the box, do we want to include any further examples around commands to run from within the box.

### _Proposed_ Acceptance Criteria
- [x] Document the process of hijacking Concourse containers in `docs.cloud.gov`
- [x] Provide exam

[2016-06-22 16:23] afeld commented on #278
How about docs.cloud.gov under `Contributing`?

For starters, we can just say "you can run BOSH commands from here" and point to the BOSH CLI docs. Not sure if AWS credentials are also set up in the jump boxes...?

Framing it as a user story:
- [x] As a cloud.gov team member, I have all the information I need to run BOSH commands on tooling/staging/production written down

[2016-06-23 01:15] mogul commented on #284
@jacobian says that:
- The AWS contingency plan is published, and that we should refer to it whenever possible, stating that their uptime requirements/target are higher than ours. This means we can probably skip a lot of other stuff about backups for S3, etc. that benefit from that availability.
- A fallback plan in case AWS is nuked is that we could (with time) bring everything up in Azure using

[2016-06-23 19:00] jacobian opened #293 "Add to IR guide info about the role GSA IR plays"
And specifically what we _don't_ need to be responsible for (legal, PR, etc).

[2016-06-23 19:00] jacobian opened #294 "Add to the IR guide info about "splitting the streams" during multiple incidents"

[2016-06-23 23:21] mogul commented on #278
Noah asked that we include a high-level diagram to summarize what's happening here.

[2016-06-27 17:10] mogul commented on #286
@s-matyukevich : Here’s how we’ve handled credentials for CD to date: https://docs.cloud.gov/apps/continuous-deployment/

[2016-06-28 00:31] s-matyukevich commented on #286
Seems like I was able to make a long-lived tokens attached to an account whose password has expired. It is documented here https://docs.google.com/document/d/1r3hxsqbqtx6a7fUcNsmQBwWP49FnDBf1R5u7XIIVQXw/edit

[2016-06-28 18:43] afeld commented on #278
BOSH instructions added in #291. The pipeline doesn't seem to set AWS credentials in the jump box...should it? Should we make a separate story for it? Or are we taking a different approach there?

[2016-06-28 19:06] afeld commented on #278
Discussion here: https://18f.slack.com/archives/cloud-gov-atlas/p1467140313001221

[2016-06-28 20:07] brittag commented on #284
For reference, relevant PR: https://github.com/18F/cg-docs/pull/297

[2016-06-28 21:36] brittag commented on #284
Noting for reference: there is an official Contingency Plan Template available at https://www.fedramp.gov/resources/templates-3/

[2016-06-29 00:45] s-matyukevich commented on #286
I also investigate possibility to use different uaa zones in order to provide different types of tokens for different users. Based on my current understanding of uaa source code the desired behavior can't be achieved using different zones.

[2016-06-29 13:51] dlapiduz commented on #257
We can add something here: https://github.com/18F/cg-docs/blob/master/content/intro/overview/what-is-cloudgov.md

Maybe start with something simple like "What is your responsibility"

[2016-06-29 21:15] afeld commented on #284
@dlapiduz Mind posting an update?

[2016-06-30 03:17] dlapiduz commented on #284
As @brittag said we have a template but not only that, there is also a completed version of that template for cloud.gov. I just finished filling in a bunch of stuff missing from that one and will send it to you all. (yay word docs)

[2016-06-30 03:21] dlapiduz commented on #284
Personally I think we should keep the PR and use it as a guide since the official contingency plan has 40 pages and lacks a... plan.

[2016-06-30 16:48] #278 closed, assigned to rogeruiz

[2016-06-30 16:54] rogeruiz commented on #284
@dlapiduz can we add a CP doc link to the PR or this issue so we don't lose it. 👍

[2016-06-30 16:58] rogeruiz commented on #286
@s-matyukevich Trying to investigate writing a `cf-plugin` for the `cf-cli`.
@LinuxBozo We need this to work in a CD environment like Travis, Circle, Werker, etc.

[2016-06-30 17:10] mogul commented on #286
@rogeruiz: You mentioned you have experience using `cf` CLI plugins with CD... Do CD systems actually call the CLI?! I'm glad if that's the case, just surprised.

[2016-06-30 17:18] mogul commented on #286
Given that tenants aren't yet in GovCloud, is there a big impact on _us_ (eg our Concourse deploys) if the password expiry for `_deployer` accounts is set to 30 days _now_? That would let us meet the FedRAMP remediation point while buying us time to add "long-lived deployment tokens" back as a feature on the GovCloud environment in future.

[2016-06-30 17:29] rogeruiz commented on #286
@mogul yup, we were experiencing some downtime because of constant merging and deployments _and_ we  use _many_ manifests for `18F/web-design-standards` so I added `cf-autopilot`.

**relevant bits** => https://github.com/18F/web-design-standards/commit/afae877d9c95700732460001a33867b6c132b9c7

[2016-06-30 17:56] brittag commented on #284
Here's the [Contingency Planning doc in Google Drive](https://drive.google.com/a/gsa.gov/file/d/0B1tXdxX5wEL0S3Q5RVNoOW9rMTg/view).

And yeah, let's also plan to convert that PR into a human-readable short guide for ourselves on docs.cloud.gov (compatible with the official plan), to describe how we'd deal with a few realistic important scenarios of things that could go wrong (such as what we'd do

[2016-06-30 18:38] afeld commented on #286
Yep!
- [Travis](https://github.com/travis-ci/dpl/blob/e03a1fcca1de4cd3449220077abf18fffdcb68fe/lib/dpl/provider/cloud_foundry.rb#L26)
- [Wercker](https://github.com/joshuamckenty/step-cloud-foundry-deploy/blob/abf1be537bda25b5c2382be9e37caa6cd202039d/run.sh#L6)

[2016-06-30 23:23] msecret opened #302 "Update logo to include text"

[2016-06-30 23:23] msecret opened #303 "Ensure all links at bottom of the page are accessible"
There appear to be links at the bottom that don't show on the page. They appear to be anchor links, but there is not text for a screen reader user to know what it links to. (note this appears on most pages)

ref https://github.com/18F/Accessibility_Reviews/issues/18

[2016-07-01 01:13] ghost opened #304 "Apostrophe direction wrong in contraction"
https://docs.cloud.gov/intro/overview/using-cloudgov-paas/

In section "Using the cloud.gov PaaS as self-service", the last sentence of the first paragraph reads:

"After that, the rest of the work is self-service. It wouldn‘t require any more interaction with 18F."

The apostrophe in "wouldn‘t" is the wrong direction.

[2016-07-01 01:26] ghost opened #305 "Typo on pricing model page"
"captial" should be "capital" at https://docs.cloud.gov/intro/pricing/pricing-model/

[2016-07-01 20:32] afeld commented on #284
https://github.com/18F/cg-docs/pull/297 is in...good to close?

[2016-07-01 20:33] dlapiduz commented on #284
@afeld lets shut this down!

[2016-07-01 20:33] #284 closed, assigned to dlapiduz

[2016-07-01 20:34] afeld commented on #236
In! https://docs.cloud.gov/apps/static/#builds

[2016-07-01 20:34] #236 closed, assigned to nobody

[2016-07-05 17:16] #304 closed, assigned to nobody

[2016-07-05 17:16] #305 closed, assigned to nobody

[2016-07-05 17:22] brittag commented on #257
Note to help link together related work: https://github.com/18F/cg-docs/pull/300 is a PR working on this.

[2016-07-05 19:18] s-matyukevich commented on #286
I've created a pull request to CF cli, that allows us to configure what OAuth client is used https://github.com/cloudfoundry/cli/pull/881
Also I wrote a CLI plugin, that allows to login into cf cli using tokens, but not username and password https://github.com/s-matyukevich/set-token
Having this two parts we will be able to setup separate OAuth client,  configure it to issue a long lived tokens. A

[2016-07-05 19:22] s-matyukevich commented on #286
Another thing that I am working right now is a pull request to UAA that will allow to setup password expiration time per user, So we will be able to create special accounts with password that never expires or expired after a long time. If this will be accepted, we will no longer need any cf cli plugins, or modifications to cli itself. We also don't need any plugins for CI/CD tools  in this case.

[2016-07-06 16:40] brittag commented on #257
There is now a basic chart + description of responsibility boundaries in the docs intro section at https://docs.cloud.gov/intro/technology/responsibilities/

This doesn't include the full list of details in "Implementation Sketch", but specific technical implementation/usage advice for cloud.gov users should probably go under "Usage" rather than in the intro docs. If somebody works out a draft of

[2016-07-06 16:59] mogul commented on #286
Transcript of a conversation with Pivotal yesterday  in Slack:

[2016-07-06 17:20] s-matyukevich commented on #286
@afeld  @sharms if you use SAML this pull request https://github.com/18F/cg-deploy-cf/pull/77/files probably don't make sense, because it configures password expiration for UAA db.

Also I don't know that we use SAML, this fact actually changes a lot and my pull request to UAA don't make much sense, I will try to figure out how to do the same thing with SAML identity proovider.

[2016-07-07 17:23] mogul commented on #197
/cc @brittag

[2016-07-08 16:05] s-matyukevich commented on #286
I have written a plugin for Travis, that allows to deploy apps to CF using tokens to authenticate agains UAA. This plugin can be found here https://github.com/s-matyukevich/dpl/blob/master/lib/dpl/provider/cloud_foundry.rb This plugin uses my another  plugin for CF cli, that allows to update tokens in config file using command line, and also it uses my fork of CF cli that adds possibility to set d

[2016-07-08 16:55] rogeruiz commented on #286
@s-matyukevich Will talk after standup on simplifying the script

[2016-07-09 02:52] mogul opened #319 "Provide guidance for securing application code"
[We now have a card talking about the division of responsibilities... This card is about helping tenants understand how to meet theirs. Compliance is out of scope; we'll address that in materials specifically about how to get an ATO for an app hosted in cloud.gov.]

**Implementation Sketch**
- Cover .cfignore/.gitignore
- Advise to use envvars and user-provided services
- Make it clear we don't co

[2016-07-09 02:52] mogul commented on #257
Looks good! I broke the "guidance for good app security on cloud.gov" into a [separate issue](https://github.com/18F/cg-docs/issues/319).

[2016-07-09 02:52] #257 closed, assigned to mogul

[2016-07-11 16:41] s-matyukevich commented on #286
### Docs PR

https://github.com/18F/cg-docs/pull/320

[2016-07-12 10:23] toolness opened #321 "Improve leveraging-authentication.md"
I used the code sample at the bottom of [Leveraging Authentication](https://docs.cloud.gov/apps/leveraging-authentication/) to make a trivial OAuth client recently and noticed a few issues with it:
- The snippet assumes that `request` refers to node's [`request`](https://github.com/request/request) module but never mentions it.
- The snippet assumes that `app` is an [`express`](https://expressjs.c

[2016-07-12 12:28] jseppi commented on #321
Yes, I agree a link to a fully functional reference client would be an improvement over the snippet.

[2016-07-12 17:08] mogul commented on #286
We have a pull-request pending upstream... Meanwhile, @dlapiduz help us understand how much we have to continue focusing on this given that humans will only ever have MFA accounts in GovCloud...?

[2016-07-12 19:14] pburkholder opened #322 "Django needs to vendor the requirements"
I'm working with PCF, so maybe cloud.gov is different, but don't you need something like this:

[code]

before doing a `cf push` ?

[2016-07-12 19:31] afeld commented on #322
Ah, didn't realize this was the case!

http://docs.cloudfoundry.org/buildpacks/python/index.html#vendoring

Opened https://github.com/18F/cg-docs/pull/323 to point people to the official docs.

[2016-07-14 02:00] brittag opened #325 "Explain what you can do with apps in a sandbox"
In order to feel confident about trying out apps in the sandbox as a new cloud.gov user, I'd like to know what I'm allowed to do in the sandbox org (stated briefly as part of my new user onboarding process). For example, I'd want to know if there's only a pre-approved list of applications I'm allowed to run in the sandbox (the "hello world" apps), or if I'm allowed to make significant modification

[2016-07-14 03:48] dlapiduz commented on #286
Here is what I am thinking: If we only use local accounts for bots and testers, why do we have to have password rotation requirements? They are not _users_ just service accounts.

[2016-07-14 03:48] dlapiduz commented on #286
@mogul ^^

[2016-07-14 03:56] #322 closed, assigned to nobody

[2016-07-14 17:16] mogul commented on #286
Sergey demo'd yesterday that he now has a solution for generating tokens with a lifespan independent of the password expiration window... Basically, instead of using the username/password-based Travis, Circle, and Wercker CF targets, we provide a script that does the work to set up a long-lived refresh token. However, for this to work it relies on a change to the CF CLI to actually use its refresh

[2016-07-14 22:38] brittag opened #327 "Document the basics of how compliance works for products on cloud.gov"
In order to get ATOs for products running on cloud.gov, cloud.gov users need clear explanations of which security controls are covered by cloud.gov and which ones they need to document themselves.

Doing this in a complete and thorough way is a bigger task (tracked at https://github.com/18F/cg-product/issues/63), but for now, we just need a basic compliance section in our docs to help people who a

[2016-07-15 00:06] brittag opened #328 "Continuous deployment page should recommend best practices for zero-downtime deployment"
In order to set up great digital services on cloud.gov, cloud.gov users need good instructions for how to set up zero-downtime deployment (blue-green deployment). Currently our [continuous deployment page](https://docs.cloud.gov/apps/continuous-deployment/) has a little bit of info but should have a stronger opinion on what to do and link to appropriate further info.

Reference: [notes from Aidan'

[2016-07-15 00:15] brittag commented on #328
Noting that @jezhumble knows ~a few things~ about this and offered to help. :)

[2016-07-15 00:27] brittag opened #329 "Provide guidance on running asynchronous worker processes"
In order to build complex products on cloud.gov, users need resources explaining best practices for setting up products that involve asynchronous worker processes.

Reference: [notes from @afeld's training today](https://docs.google.com/document/d/1N0VQf5y0ZeO-9BS0Xk1W2p-YetF7HUqzSB4D-Kj7MXw/edit#heading=h.jzgrz2av0xjp).

This would likely include:
- A basic explanation of how to do this within th

[2016-07-15 00:37] brittag opened #330 "Give more guidance about cf-ssh"
In order for users to do non-trivial tasks with cloud.gov with minimal frustration, the instructions for cf-ssh (as a useful and commonly used tool) should have more context and advice so that readers can understand its benefits and limitations better.

To do this, we should put the [cf-ssh advice from @afeld's training](https://docs.google.com/document/d/1N0VQf5y0ZeO-9BS0Xk1W2p-YetF7HUqzSB4D-Kj7M

[2016-07-15 15:41] afeld opened #331 "fix broken links"
Checked using [HTML Proofer](https://github.com/gjtorikian/html-proofer).

[code]

A couple are private URLs, but the rest need to be fixed.

[2016-07-15 19:28] toolness commented on #325
I'm curious if it's also worth mentioning the existence of (and link to) AWS Sandbox accounts for 18F employees who might want to do something innovative that isn't yet possible on cloud.gov?

[2016-07-15 22:22] toolness commented on #321
Ok!

I started work on this a little while ago but got sidetracked by the fact that list nesting appeared to be wonky. After some investigation I figured it out and filed https://github.com/18F/web-design-standards/issues/1328 with a [fix](https://github.com/18F/web-design-standards/pull/1329).

Phew. I'll tackle the guide once that's been merged and makes its way downstream to this repo!

[2016-07-18 17:08] rogeruiz commented on #286
I'm taking a look at the docs PR and will run through the code bits.

[2016-07-18 19:27] afeld commented on #197
Closing in favor of https://github.com/18F/cg-docs/issues/327.

[2016-07-18 19:27] #197 closed, assigned to nobody

[2016-07-20 17:51] brittag opened #332 "Move business case explanation out of the documentation"
Our "documentation" should be primarily technical documentation, since that's what users usually expect when they click "documentation".

Our detailed business case explanation (currently "Introduction" in the sidebar) should live and grow outside of the technical documentation.

cc @berndverst

The next step for working on this would be to sketch out a couple ideas for alternatives.

[2016-07-20 17:58] brittag opened #333 "Separate cloud.gov user documentation from contribution documentation"
We have two kinds of technical documentation in our docs right now:
- "Usage" for users (application team and agency admin staff, such as developers, org admins, product managers)
- "Contributing" for contributors and potential contributors to cloud.gov (18F staff, external volunteers, users curious about contributing fixes)

Users are our primary audience for the "Documentation" link in the cloud

[2016-07-20 17:59] berndverst opened #334 "Reorganize and clarify usage submenus and items"
In order for different user types (e.g. developers vs application admins) to quickly find the content most relevant to them, we should reorganize the Usage submenus and items based on function (e.g. development / deployment vs application management).

[2016-07-20 19:38] brittag opened #336 "Restructure docs UI for easier navigation"
Writing down a few things we've noticed for later prioritization:
- Move the title of the page to the top of the reading area, so that it's easier to identify what page you're reading:

![screen shot 2016-07-20 at 12 29 53 pm](https://cloud.githubusercontent.com/assets/391313/17000145/0a02897c-4e76-11e6-826b-cb1550319f6e.png)
- Make "parent" sidebar items link to pages with content, rather than ju

[2016-07-20 20:05] afeld commented on #333
The current "Contribution" section is really more about "Operation", rather than "here's how to contribute to our repositories/community".

[2016-07-20 21:31] brittag commented on #333
Yes! I imagine part of this task would be to write a little preface for the Operations docs explaining that, and also write a little intro to how to contribute as a volunteer (or as an employee of a different org/agency/company).

[2016-07-21 21:51] brittag opened #339 "Explain what aspects of cloud.gov's compliance toolkit are part of the standard fee"
In order for prospective customers and customers to confidently use cloud.gov, they'd like to know how fees work outside of the core PaaS function of cloud.gov: whether the ATO-related services (compliance toolkit services) cost extra money.

Let's document this as part of generally documenting how ATOs work on cloud.gov. This may overlap or otherwise interact with https://pages.18f.gov/before-you

[2016-07-22 21:46] jessieay commented on #328
Some ideas:
-  it seems like `autopilot` is the more popular choice (vs `cf-blue-green`) for zero-downtime deployment (at least that is what we moved to on C2 https://github.com/18F/C2/pull/1112)
- discuss the need to manage environment variables if you are doing a zero-downtime deploy. If all `ENV` vars are defined in your `manifest.yml` file, then you are fine. But if not (and it is likely your

[2016-07-22 21:49] jessieay commented on #328
Another script for parsing user-provided services and setting them as env vars, via @dlapiduz  https://github.com/18F/discourse/blob/cloud-gov-stage/config/load_cf_env.rb

[2016-07-25 21:42] brittag opened #347 "Address issues in Introduction for potential users"
Noting for reference and visibility: @berndverst has [a list of notes here](https://docs.google.com/document/d/1Bs82x8rNPp3FKjFvEHYVCjbj99WkpzkxYkZUyGaiJaE/edit) that cover issues he found in the Introduction section while reading it. @nikzei is going to add to that list too.

[2016-07-26 17:33] msecret commented on #336
I'm interested to see how we could design for the 3rd point. It definitely seems like we have to highlight where in the cloud.gov experience you are in the top nav.

[2016-07-26 18:08] brittag opened #348 "Split "Advanced" section (under "Usage") into more functional sections"

[2016-07-26 18:27] brittag commented on #348
_Accidentally submitted this issue without the content, so here's a comment._

@berndverst and I did a quick review of this section, since we suspect there's a better way to structure it - rather than calling it "advanced", we can use more specific navigation items. Here are a few notes from a quick review of this content.

First, things to consider moving/renaming:
- [ ] [Production ready checkli

[2016-07-26 18:27] mogul commented on #336
+💯 on this one... As it stands the title located outside the body is essentially breaking the information hierarchy implied by the yellow "selected" tab.

[2016-07-27 16:05] s-matyukevich commented on #286
I have an update from CF CLI team. They said that they are going to implement long lived token functionality on UAA side first, and then add it to CLI. This functionality will be available in mid September. For now, they don't want to merge my PR.

@mogul should we close this now?

[2016-07-27 19:22] brittag commented on #325
Notes from Slack about this: [1](https://18f.slack.com/archives/cloud-gov-support/p1469646111000548), [2](https://18f.slack.com/archives/cloud-gov-support/p1469647067000550)

[2016-07-27 19:49] brittag commented on #325
Also link to [Pre-authorization](https://pages.18f.gov/before-you-ship/ato/types/#pre-authorization) - which explains "You may operate without authorization if all of the following conditions are met".

[2016-07-29 01:33] brittag opened #349 "Document how tenants should "contain" an app instance that may be compromised"
In order to help cloud.gov users efficiently handle any potential security incidents affecting their apps, the cloud.gov documentation should include specific "best practice" steps guiding how to implement a containment strategy for a potentially compromised app (to preserve as much forensic information as possible).

Our [IR guide](https://docs.cloud.gov/ops/security-ir/#remediate) has this guida

[2016-07-31 22:48] mogul commented on #286
Closing in favor of the upstream solution-to-be... Thanks for pushing to get them to this point, @s-matyukevich.

[2016-07-31 22:48] #286 closed, assigned to s-matyukevich

[2016-08-01 15:32] ghost commented on #330
Closing in favor of 18F/cg-product#154

[2016-08-01 15:32] #330 closed, assigned to nobody

[2016-08-03 22:52] berndverst opened #358 "Improve pricing documentation"
UPDATE by Skyporter:
In order enable prospective users to clearly articulate what they need + so that they can make purchasing plans, the pricing content needs to reflect the way people actually buy and use IT services (they pay for stuff and they get stuff in return - right now it's not clear right what you get and for what price)

---

Sample questions that should be addressed as part of this st

[2016-08-03 22:58] jessieay commented on #328
Update: we tried to use the 18f-cli deploy script and ran into a problem. This method seemed less secure than we had initially thought so we went back to manually parsing user-provided services to retrieve sensitive keys https://github.com/18F/micropurchase/pull/999

[2016-08-03 23:08] brittag commented on #358
This user need is likely related: https://github.com/18F/cg-docs/issues/339 ("Explain what aspects of cloud.gov's compliance toolkit are part of the standard fee").

[2016-08-03 23:09] berndverst commented on #358
👍

[2016-08-03 23:15] jessieay commented on #328
One more Pr for dealing with env vars and user-provided services https://github.com/18F/micropurchase/pull/1002

[2016-08-05 17:35] berndverst commented on #332
I will work on a mock-up (or example structure) of this.

[2016-08-05 17:40] brittag commented on #332
While sketching potential versions of this, let's also consider how to fit in a search box for both these kinds of content (business docs + technical docs).

[2016-08-05 18:49] brittag commented on #327
Related questions that people have:
- Do static apps on cloud.gov require an ATO? Such as apps deployed with the static buildpack?
- Do ATOs require an IAA?

[2016-08-05 20:02] berndverst commented on #332
I'm doing actually sketching...
Can we separate out the search bar part? That is already captured in another issue anyway.

[2016-08-05 20:17] brittag commented on #332
It's up to you how you'd like to sketch this; I'd suggest considering how to fit in a search bar if you think one should be part of the overall UI.

Noting the related issue for the record: https://github.com/18F/cg-product/issues/194

[2016-08-08 02:18] brittag opened #361 "Add hidden notes indicating documentation required for compliance"
In order for cloud.gov documentation contributors (especially cloud.gov staff) to maintain these docs without accidentally deleting something important (or breaking an important link), we need some hidden indication that a section/page/link is important for compliance.

We currently don’t mark or indicate that some of these docs pages/sections/diagrams are _required_ to be here for FedRAMP complia

[2016-08-08 14:30] afeld commented on #361
Maybe

[code]

?

[2016-08-08 15:40] brittag commented on #330
@sushiandbeer Oh hmm, it looks like https://github.com/18F/cg-product/issues/154 got closed too - is there a new issue for this kind of thing?

[2016-08-08 19:22] afeld commented on #328
It's somewhat tangential, but we need some general best-practices documented, e.g.
- Put as much in [manifest](https://docs.cloudfoundry.org/devguide/deploy-apps/manifest.html) files as you can
- Put any secrets in [user-provided service instances](https://docs.cloudfoundry.org/devguide/services/user-provided.html)
- Have one space per environment (e.g. `dev`, `staging`, `production`)
  - Each spa

[2016-08-08 19:30] dogweather commented on #328
Also, I'd like to walk before we run: I'm interested in getting some-downtime deployment working rock-solid.  Then I'll start thinking about zero-downtime.

[2016-08-08 23:29] brittag commented on #361
I briefly tried this for our Onboarding Checklist since I was digging around in there anyway, and...GitHub is annoyingly persnickety about where it'll display HTML-style comments as comments and where it'll display that as normal text. I suspect for the Checklist we should just restructure the checklist and mark off a section as "pleeeease do this for compliance".

[2016-08-16 00:38] brittag commented on #327
Noting for reference: when we’re ready to work on this, we should check in with @jezhumble for context as well.

[2016-08-17 19:12] afeld opened #367 "Update third-party services list"
https://docs.cloud.gov/ops/third-parties/ is an incomplete list...we should add the services we came up with as part of the FedRAMP work.

https://docs.google.com/document/d/1iOA_7c8iuhVLbmIdRbM6DgIwQh72JcnKxRxP0SOcTbs/edit

/cc @LinuxBozo @brittag

[2016-08-17 21:13] brittag opened #368 "Clearly explain acceptable usage of deployer users"
In order for us to help our customers keep their orgs compliant and secure, we should clearly clarify and advise in our user-facing docs that:
- Customers should keep deployer accounts limited to one space.
- Customers cannot use deployer accounts for human purposes. They are only acceptable for automated use by machines.
- If customers need the deployer credentials revoked or reset, they need to

[2016-08-17 21:39] brittag opened #369 "Explain the new way that deployer accounts will be created in GovCloud"
In order for our users to understand how GovCloud will work, our docs pages that talk about spaces and deployer accounts should explain that in GovCloud deployer accounts will be created automatically.

This depends on this getting implemented: https://github.com/18F/cg-product/issues/236

We'll have to look through our docs and figure out the right pages to update. This is closely related to http

[2016-08-18 04:49] afeld commented on #368
/cc https://github.com/18F/cg-product/issues/236

[2016-08-18 18:03] brittag opened #370 "On setup page, note setup time and Dashboard"
In order for cloud.gov users to get set up smoothly, the [setup page](https://docs.cloud.gov/getting-started/setup/) should mention the Dashboard UI and should note that upon first login, setting up your orgs can take around 30 seconds to a minute.

[2016-08-19 10:48] toolness opened #374 "Bulleted lists use a different font from other content"
Here's an example, taken from the [Leveraging Authentication](https://docs.cloud.gov/apps/leveraging-authentication/) page:

Here the paragraphs are in Merriweather, yet the bulleted lists are in Source Sans Pro.  It seems like the bulleted lists should inherit the font of the content they're embedded in (i.e., in this case, they should be in Merriweather).

Unfortunately, I'm not sure if this is

[2016-08-19 23:17] brittag opened #375 "Refine CDN advice on Production Ready Guide"
Carrying over [a few comments from this merged PR](https://github.com/18F/cg-docs/pull/365#discussion-diff-75249814) for the [Production Ready Guide](https://docs.cloud.gov/apps/production-ready/), for improving the [Asset Serving](https://docs.cloud.gov/apps/production-ready/#asset-serving) bit further:

[2016-08-20 02:07] dogweather commented on #375
Thanks @brittag !

I'm coming from the point of view of having deployed several apps to cloud.gov-like environments using the put-your-assets-on-S3 approach. It used to be the recommended best practice.

The thing is, it's a whole other process, server, set of permissions, etc. to manage and occasionally mess up.

So now the best practice seems to be, don't worry about it, and let the CDN do its j

[2016-08-23 22:18] brittag commented on #325
I now believe there are two components of this explanation:

1) What cloud.gov allows cloud.gov users to do in the sandbox org (which is limited by things like "not production, doesn’t need more than 1 GB of RAM, doesn’t need any paid services, doesn't need ATO")
2) What an agency or team allows their staff to build/make/prototype/test in the sandbox org under those constraints (for example, at 18

[2016-08-24 16:25] brittag commented on #325
Example user question related to pre-authorization: what about trying one of the default "hello world" apps? Does that need to be hidden behind auth, as the pre-authorization list indicates?

[2016-08-24 18:49] afeld commented on #219
Note there may also be a difference for the Prototyping [access package](https://docs.cloud.gov/intro/pricing/rates/#access-package).

https://18f.slack.com/archives/cloud-gov-skyporter/p1472059729000586

[2016-08-24 19:44] brittag commented on #361
We should also put hidden notes like this in parts of our 18F Handbook and other 18F-wide policies and practices that are relevant for cloud.gov compliance (such as https://github.com/18F/open-source-policy/blob/master/practice.md).

[2016-08-25 01:26] brittag opened #382 "Improve findability of important info about database services"
The Databases page has important info about database services, so let's make that more findable for anyone learning about services. This isn't a big task, just filing it as an issue since the databases page is a bit in flux right now with current PR discussions.
- [ ] [Databases](https://docs.cloud.gov/apps/databases/) should more clearly explain what it means to use a shared plan, and more clearl

[2016-08-25 15:48] afeld opened #383 "revisit recommendation for static assets"
See discussion in https://github.com/18F/cg-docs/pull/365#discussion_r75249814.

[2016-08-25 15:49] LinuxBozo commented on #383
Dupe of #375

[2016-08-25 15:49] #383 closed, assigned to nobody

[2016-08-25 15:51] afeld commented on #375
Also a note that we should link to https://docs.cloud.gov/apps/custom-domains/#managed-service-method.

[2016-08-25 15:53] afeld opened #384 "As a user, I would like to know the sections available on a page"
For longer pages like this one:

https://docs.cloud.gov/apps/custom-domains/

It's easy to miss information further down on the page. Would be nice to have a table of contents (at least for pages with multiple headers), a la the Cloud Foundry docs.

![screen shot 2016-08-25 at 11 52 58 am](https://cloud.githubusercontent.com/assets/86842/17976209/7cbf2bea-6aba-11e6-8eb0-4d3dbeaeef27.png)

/cc http

[2016-08-25 16:16] brittag commented on #375
Carrying over [another comment from the merged PR](https://github.com/18F/cg-docs/pull/365/files/f3d74bcbd11c764f5693e935c3a6527f55ed236f#r76273667), from @jseppi:

[2016-08-25 16:19] jmcarp commented on #375
I haven't tested caching behavior on the CDN service, but we're pretty close to the CloudFront defaults for caching settings, so setting caching headers should work:

<img width="540" alt="screen shot 2016-08-25 at 12 15 59 pm" src="https://cloud.githubusercontent.com/assets/1633460/17977027/fedbeee4-6abd-11e6-8c9a-cac86d7a705d.png">

It wouldn't be a bad idea to verify that this works as expected

[2016-08-25 16:46] brittag opened #386 "Add explanation of our documentation contribution practices"
In order for internal contributors (cloud.gov team members) and external contributors (other 18F team members, other cloud.gov tenants, members of the public) to confidently help improve the cloud.gov docs, we should customize our README and/or CONTRIBUTING files to explain more about maintaining the docs.

Some ideas for what this should include:
- We should clearly invite cloud.gov tenants and v

[2016-08-25 18:45] brittag commented on #386
This should maybe also include:
- Info about what we consider prospective-customer info vs user-facing docs
- Explanation about cg-landing (and be linked from cg-landing)

We can also consider setting up a LGTM bot (so that if something really needs review by one of x people, we can enforce with code that it should be reviewed by x person before merging :) ).

[2016-08-25 21:39] NoahKunin commented on #219
@afeld I def. don't need to approve anything here. Valid IAAs is where it is at.
Un-assigning myself!

[2016-08-25 22:02] #321 closed, assigned to toolness

[2016-08-25 23:03] brittag opened #387 "Add references to Dashboard functions in appropriate places in the docs"
In order for cloud.gov tenants to learn how to accomplish cloud.gov tasks with ease whether they prefer command line interfaces or GUIs for those tasks, our docs should explain both using the CF CLI and the cloud.gov Dashboard for tasks where both options are available.

Right now our docs mostly explain the CF CLI. We should go through the "Usage" docs and add notes about the Dashboard where rele

[2016-08-25 23:08] brittag opened #388 "Coordinate "General Tips" with "Production Ready Guide" somehow"
These two pages seem to overlap in some ways:
- https://docs.cloud.gov/apps/deployment/ (which the docs direct people to read as part of their user onboarding after reading https://docs.cloud.gov/getting-started/your-first-deploy/)
- https://docs.cloud.gov/apps/production-ready/

I'm not sure exactly what needs to be done here, but it looks like we should take a look at them and coordinate them so

[2016-08-26 10:53] afeld opened #390 "clarify that cloud.gov only supports deployment to Linux"
We had a customer inquiry asking if we support Windows...we should clarify this on the site.

[2016-08-26 17:06] brittag commented on #386
Also to integrate as part of this - discussion from [Liberator + Skyporter meeting](https://docs.google.com/document/d/1NaVMZJoiGh16s1-g0LApEzLkfD3npfUtyiokv0lA6lQ/edit) (https://github.com/18F/cg-product/issues/208).

[2016-08-26 21:20] brittag commented on #386
I'd like to include something like this (not necessarily this specific phrasing), to set a goal for encouraging participation by external contributors:
- If you're outside 18F and you make an issue or PR with a suggestion for improving cloud.gov content/documentation, we aim to give you a response (at least a comment) within a couple work days.

[2016-08-31 00:46] brittag commented on #386
We can also include a reference to the [cloud.gov content guide](https://github.com/18F/cg-product/blob/master/ContentGuide.md)!

[2016-09-01 02:32] mogul commented on #219
_Apologies for the sloppy formatting below, I don't want to fight with Markdown anymore._

To set up a new organization:

# Create the quota for attributing the organization's usage charges

[code]

Above, `[quotaname]` is:  `[agency]` + _ + `[uniqueBusinessID]` + _ + `[note]`.  The `[uniqueBusinessID]` will direct charges under to this quota to the correct invoice  at billing time. NOTE: [We don'

[2016-09-01 02:33] mogul commented on #219
(And yes, it goes without saying that this should all be wrapped up in a handy bulletproof script, and thence automated based on a trigger from some other system.)

[2016-09-01 02:34] mogul commented on #219
/cc @berndverst ; you'll probably need to know how to do this at some point.

[2016-09-07 16:43] afeld opened #396 "As a user, I want to know how to import data to cloud.gov databases"
From a support email:

My reply:

[2016-09-07 16:55] pkarman commented on #396
here's the workflow I've used in the past: https://gist.github.com/pkarman/20f4a4a022a2c59e49bd96675e8101c3

[2016-09-07 18:17] LinuxBozo commented on #396
Related: 18F/cg-product#230 and 18F/cg-product#231

[2016-09-08 05:05] afeld opened #399 "add additional information around hardening"
From @mogul, in an email thread with GSA OCISO:

Not exactly sure where it should live, but seems relevant.

[2016-09-08 16:14] brittag opened #400 "On Custom Domains page, explain GovCloud status of Managed Service Method better"
https://docs.cloud.gov/apps/custom-domains/ is currently confusing. See "the docs really need to be updated because they really aren't clear by what it means by "you must use GovCloud". So the broker is in GovCloud but it writes _back_ to E/W" (https://18f.slack.com/archives/infrastructure/p1473344504000101) and earlier conversation above that.

[2016-09-08 22:15] suprenant commented on #328
@mogul is there something you want us to look at here within the Liberator stream?

[2016-09-11 23:52] mogul commented on #328
We'd said previously that the Liberator theme included all "self-help facilities", which included user-facing docs and community-based support, but I know that Liberator has become almost exclusively the "web-based UI" team based on the prioritization done to date, and Skyporter didn't exist back then.

Now it does... We're generally expecting Skyporter to take on responsibility for first-tier sup

[2016-09-13 00:33] tadhg-ohiggins opened #402 "Suggest ways to ensure an entire team can use cloud.gov productively"
In order to help teams share knowledge about how they are using cloud.gov, we should document best practices for capturing cloud.gov specific processes.

Acceptance Criteria

- [ ] we provide guidance on how to best capture how any given team is using cg

(we can't know what works best for individual teams, but we can suggest things that work well, eg, manifest files, single commands for deploymen

[2016-09-13 00:35] brittag commented on #402
Context - I asked @tadhg-ohiggins to write this down as a general dev user issue for us to consider dealing with in our docs somehow. It could be part of general user advice ("make sure each technical member of your team is deploying frequently enough to retain knowledge") or something to consider for how we write our docs in general.

[2016-09-14 00:50] mogul opened #403 "Bring in Cloud Foundry docs to Cloud.gov"
Discussion from sprint planning:

Determine how Hugo to bring in templates for docs
Need to style their Cloud Foundry code so it matches the doc style
Design should have eyes on how adding this much content would impact the docs page, likely would have implications for the sidebar/design debt
#577

Would need to determine how modular Cloud Foundry content might be
Would need to clarify/develop lis

[2016-09-14 00:51] mogul commented on #403
Huh, not bad actually... It managed to keep the history!

[2016-09-14 01:04] mogul commented on #388
See also [info from cloud.gov.au](http://docs.cloud.gov.au/usage/orca/), which also has good tips that could be integrated.

[2016-09-14 04:07] mogul commented on #361
Was this only icebox'd because the comments were a problem in checklists? Would that have worked in more prose-y pages?

[2016-09-14 17:16] brittag commented on #361
I put this in Icebox since it didn't seem to have a specific priority. We can totally implement this in various ways (including hidden comments, or adding visible details when hidden comments aren't available, etc) in all the relevant pages.

[2016-09-14 17:27] mogul commented on #361
It seems important to ensure people are aware of this when editing docs, particularly as we've got a fairly major reorganization of operator vs tenant documentation coming up. I'm going to move it back to the Backlog but detach it from the FedRAMP epic so it's not considered "in-scope" for this month.

[2016-09-15 00:28] mogul commented on #332
We heard today that @jameshupp will be rejoining cloud.gov as a content designer 10/1, so he can likely help out with this!

[2016-09-15 00:33] mogul commented on #358
Whoa, when did that become public? @dlapiduz was that you?

[2016-09-15 00:52] mogul commented on #333
cc @jameshupp since he'll likely want to look at this when he rejoins!

[2016-09-15 20:38] afeld opened #405 "As a [potential] user, I want to know what technologies I can use on cloud.gov"
I just (essentially) got this question this question from GSA's Deputy CIO...the answer is _kinda_ in a few pages, but I think we could have a clearer answer that we can pull people to. Relevant links:
- https://docs.cloud.gov/intro/pricing/whats-included/
- https://docs.cloud.gov/intro/technology/responsibilities/
- https://github.com/18F/cf-hello-worlds

[2016-09-16 21:33] EricSchles opened #407 "Flask docs error"
Hello all,

the following code:

[code]

exists at https://docs.cloud.gov/apps/flask/

I _believe_ it should be:

[code]

[2016-09-18 18:17] #407 closed, assigned to nobody

[2016-09-20 22:00] jessieay opened #412 "Note for rails deploys to docs"
We might want to add some information about deploying on CF with Rails

Something like:

Make sure you set the `SECRET_KEY_BASE` environment variable for your Rails app. Otherwise, the Cloud Foundry ruby buildpack will automatically set it for you on each deploy. If you are using an authentication system that relies on session variables, not having `SECRET_KEY_BASE` set will effectively log out al

[2016-09-21 02:21] afeld commented on #412
You mean like https://docs.cloud.gov/apps/rails/? 😉 Or are you just saying that neither ours nor the official docs mention the `SECRET_KEY_BASE`? Would be great to send a pull request to the latter to mention that.

[2016-09-21 16:47] jessieay commented on #412
Yes, neither ours nor the official docs mention the consequences of not setting it.

[2016-09-26 18:05] suprenant opened #418 "Search results match cloud.gov nav and branding"
@mogul commented on [Fri Apr 15 2016](https://github.com/18F/cg-dashboard/issues/246)

In order to maintain consistency of navigation around cloud.gov elements, the search results page should have the same global navigation and branding as other core platform elements.

[2016-09-26 18:06] suprenant opened #419 "Integrate search for docs into Cloud.gov nav"
@mogul commented on [Wed Apr 13 2016](https://github.com/18F/cg-dashboard/issues/237)

In order to save&nbsp;users time in finding&nbsp;everything relevant to their cloud.gov needs, we want an omnipresent search facility&nbsp;that will return search results for all public-facing materials.

Acceptance criteria
- [ ] Search results include hits from docs
- [ ] It's easy to initiate a search from an

[2016-09-26 18:11] suprenant commented on #419
Replacement from previous issue. Noting that we will want @thisisdano @vz3 review for approval.

[2016-09-26 18:11] suprenant commented on #418
Replacement from previous issue. Noting that we will want @thisisdano @vz3 review for approval.

[2016-09-27 18:29] mogul opened #427 "Provide info for SaaS vendors wanting to use cloud.gov"
In order to reduce team overhead and distractions from SaaS vendor inquiries, we want docs.cloud.gov to include a canonical response about how cloud.gov can/can't help them.

Implementation sketch:
- Can start from recent responses on the cloud-gov-inquiries list

[2016-09-27 18:30] mogul opened #428 "Update FedRAMP timeline"
In order to reduce team overhead and distractions from agency inquiries, we want docs.cloud.gov to include a canonical response about our FedRAMP timeline and availability.

**Implementation sketch:**
- Update [the existing page](https://docs.cloud.gov/intro/security/fedramp-tracker/) based on recent responses in the cloud-gov-inquiries mailing list and info from the FedRAMP PMO

[2016-09-27 18:35] mogul opened #429 "Elaborate resilience, backup, and restore attributes for RDS service"
In order to eliminate customer confusion about how they can meet resilience and backup compliance requirements, it should be obvious which concerns are taken care of by the various RDS plans.

**Implementation sketch:**
- A page in docs includes full details on characteristics of the RDS service based on recent cloud-gov-inquiries and cloud-gov-support traffic
- RDS service and plan descriptions a

[2016-09-28 19:17] berndverst commented on #332
In order to better serve the distinct needs of business/executive users and technical users I am proposing the following change:
- Product overview, motivation, high level security discussion etc will move into a separate section with separate nav.
- The technical docs used for getting started, or advanced topics etc. will live in the existing place.

I see this separation as critical before we pr

[2016-09-28 19:18] berndverst commented on #332
Note that in the above screenshots I changed some text on the index pages. That was only for the sake of the screenshots.

[2016-09-28 19:40] mogul commented on #332
(Search work is proceeding separately, btw.)

[2016-09-28 22:54] jmcarp opened #436 "Fix npm deprecation warnings"
It looks like we're using a few packages, directly and indirectly, that are deprecated or abandoned. Probably not a big deal, but we should update at some point.

[code]

@msecret

[2016-09-29 00:58] mogul commented on #332
My intuition is that when I see a link labeled "About" I'm going to find
information about the company that made the product, funders/investors,
principal leads, etc. And I usually don't click it. :) I'd go with
"Overview" matching what you have in the sidebar to invite more eyes in
that direction.

On Wed, Sep 28, 2016 at 12:18 PM, Bernd Verst notifications@github.com
wrote:

[2016-09-29 02:15] jmcarp opened #437 "Fix build errors"
Concourse builds fail fairly often with `No space left on device` errors during `apk add`, even though the container appears to have plenty of space available. I've also been able to `intercept` failed builds and manually run `apk add` without errors.

Help @sharms !

[2016-09-29 02:37] jameshupp commented on #332
Thinking through some nav labels...
- _Overview:_ Reverses existing terminology hierarchy to put Overview over Intro; this feels broadly accurate)
- _Introduction:_ Keeps existing terminology hierarchy, also keeps Overview as a second-level intro, which is how it's used on standards.usa.gov. At least within 18F I suspect there's some overlap between cloud.gov products and Standards products.
- _Ab

[2016-09-29 02:39] jameshupp commented on #332
Two things I want to flag.

First: what do we know about the use of About in the top nav right now? Do people click it and drop to the anchor link down the page? Do they never click it? Have users told us they don't expect it or hate it? Or was it our solution to people not seeing what else was on the page? Just want to get a sense of what's up there as we're changing at least what the term links

[2016-09-29 16:23] afeld opened #438 "Add more guidance on manifest/space best practices"
I [wrote this in Slack](https://18f.slack.com/archives/cloud-gov-support/p1475165986001203):

See that conversation for more background. Could have sworn we had an issue/pull request around this already...apologies if this is a duplicate.

/cc @dogweather @LinuxBozo @cmc333333

[2016-09-29 16:41] berndverst commented on #332
@jameshupp @mogul

"About" can obviously be renamed to anything better like "Product" or "Overview". That would actually be my preference.

Also, please note that I didn't change the hierarchy here. I just moved one section into its own area. We can address the menu organization further, but can we do so in another issue and incrementally?
We can make things better in smaller chunks!

[2016-09-29 16:45] berndverst commented on #332
@mogul I find "About" to be extremely unintuitive for a product page (as opposed to a company). I honestly don't know what I would expect there, but information on the team who made it would be my last thought.

I'm personally in favor of naming this "Product" or "Overview".

The landing page is still accessible via the cloud.gov logo itself, and we could certainly link there from various places.

[2016-09-29 16:50] jmcarp opened #441 "Drop forks"
We're currently using personal forks of `onchange` and `anchor-js`. Both forks have slipped behind upstream. If it's important to keep these forks (for example, if we sent pull requests that were rejected upstream), let's move them to the 18F org and pull in upstream. If not, let's switch to upstream.

@msecret

[2016-09-29 16:51] berndverst commented on #332
Let's keep this issue about literally nothing but moving the business / overview section into its own thing.

No other changes. There is of course much we should change, but this is how we can start and make things incrementally better with little risk.

[2016-09-29 16:55] mogul commented on #327
Going to revisit this once the SSP and CIS/CRM are solid.

[2016-09-29 17:04] juliasolorzano commented on #419
Got sign off from design that this is gtg when this PR is merged in: https://github.com/18F/cg-style/pull/159

[2016-09-29 17:15] #437 closed, assigned to nobody

[2016-09-29 18:39] msecret commented on #441
The onchange lib is a little tricky because they had a reason for not wanting [our change](https://github.com/msecret/onchange/commit/4b1fe2a6cc2b484bb62bbb10ede0deb0ea514675); including `node_modules` eats too much CPU. But we want the change because we can watch cg-style changes and rebuilt.

That being said, since cg-docs and style aren't being developed in tandem that heavily anymore, it might

[2016-09-29 18:42] msecret commented on #441
Checked `anchor-js` supposedly it was made npm installable, so we could try using the main package now.

[2016-09-29 19:12] brittag commented on #332
I believe that if we made the following set of changes, this would be a helpful smallest-possible incremental improvement:
1. Move the "introduction" materials under "about", as shown in these screenshots
2. Rename the "about" nav item to "overview" or "introduction"
3. Add redirects to any URLs that would have been broken by this change (if any)

This change would add more importance to fixing th

[2016-09-29 19:25] brittag commented on #332
(In other words, I agree with many above comments. :) I just wanted to summarize what I agreed with.)

[2016-09-30 03:08] afeld commented on #361
/cc https://github.com/18F/before-you-ship/issues/156

[2016-09-30 03:51] afeld commented on #441
Done in https://github.com/18F/cg-docs/pull/440/commits/20022d307bc64385c96d5b2a7585af2bc1030f16.

[2016-09-30 03:55] afeld commented on #441
A hack for the current version would be to exclude a single (arbitrary) directory from the CLI...that would prevent `node_modules/` from being excluded. Probably coding to the implementation detail a bit too much though.

https://github.com/Qard/onchange/blob/7a9cf661cfff1567117ad4d0a3dc8a9cfbe38da7/cli.js#L33-L35

[2016-09-30 15:12] afeld commented on #403
Duplicate of https://github.com/18F/cg-docs/issues/180.

[2016-09-30 15:14] afeld commented on #234
The new(-ish) [task API](https://blog.pivotal.io/pivotal-cloud-foundry/products/using-diego-to-schedule-one-off-tasks-in-cloud-foundry) might be relevant here.

[2016-09-30 15:18] afeld commented on #162
This could really be (part of) a more general "audit our docs to figure out what isn't cloud.gov-specific and then contribute them upstream" story. Sounds like [the Cloud Foundry Foundation might be interested in helping](https://twitter.com/cloudfoundry/status/701914529651941376).

/cc https://github.com/18F/cg-docs/issues/180

[2016-09-30 15:20] afeld commented on #403
(might need to move some things to that other issue, sorry!)

[2016-09-30 16:38] suprenant commented on #403
@afeld ah, thanks, didn't know that old one was there – I'm reopening this and closing the other one since this one is newer. May bring over some of the old info as needed.

[2016-09-30 16:38] #180 closed, assigned to nobody

[2016-09-30 16:39] suprenant commented on #403
Previous issue (may contain useful context): https://github.com/18F/cg-docs/issues/180

[2016-09-30 16:55] dlapiduz commented on #180
@suprenant is this a no go?

[2016-09-30 17:00] brittag commented on #180
@dlapiduz This has a new issue over here: https://github.com/18F/cg-docs/issues/403

[2016-09-30 17:01] suprenant commented on #180
@dlapiduz what @brittag said – we're still planning on including it. sorry for any confusion!

[2016-09-30 22:44] berndverst commented on #325
Probably related to this:
There are also some questions around what agencies may do in the Prototyping tier.

[2016-10-01 20:26] mogul commented on #234
It's still wildly experimental and not everything is in the CLI yet. Use caution.

[2016-10-01 23:05] brittag commented on #248
We resolved this problem by recommending a maintained fork (https://github.com/18F/cg-docs/pull/411) and clearly marking buildpack-multi as experimental/unsupported in general (https://github.com/18F/cg-docs/pull/442).

[2016-10-01 23:05] #248 closed, assigned to nobody

[2016-10-03 00:15] afeld opened #447 "update Metrics page"
Seems to be very out-of-date.

https://docs.cloud.gov/ops/metrics/

[2016-10-03 20:30] suprenant opened #451 "Polish search for docs into Cloud.gov nav"
Per @thisisdano (originally in https://github.com/18F/cg-docs/issues/419):

A couple comments on this — not blocking release, but we'll want to have them eventually:
- highlighted search icon is appearing low-rez
- close box appearing low-rez
- close box should appear exactly where search icon appears (i.e. it shouldn't jump down)

[2016-10-03 20:30] suprenant commented on #419
I put @thisisdano notes for polishing here:

https://github.com/18F/cg-docs/issues/451

[2016-10-03 22:24] berndverst commented on #332
@jameshupp please take a pass when you got a chance / or add any further feedback. I can make this happen from a technical perspective.

The unfortunate part is that the marketing page and the docs are in different repos and use different servers (Jekyll vs Hugo)

[2016-10-03 23:39] mogul opened #453 "Deployer account directions are for ops, not users"
The instructions for setting up a `_deployer` account are sitting [in the middle of user-facing documentation](https://docs.cloud.gov/apps/continuous-deployment/#continuous-integration-services), even though regular users don't have the ability to create such users. There's a note to that effect right before the commands saying you need to ask an admin, but it's obvious that the details for creati

[2016-10-04 00:02] mogul commented on #332
Hugo's a super-set of Jekyll, AFAIK... You might investigate what it would
take to convert `cg-landing` to Hugo if you think the difference is going
to get in the way of migrating this content now, or other content going
forward. That's also an incremental step toward putting them in the same
repository.

(I also think it's perfectly possible to leave the content where it is in
`cg-docs`, but unde

[2016-10-04 18:12] nikzei commented on #339
See [cg-product #432](https://github.com/18F/cg-product/issues/342), which seeks to define which consulting services fall outside of guidance that we provide under a standard fee. Might make sense to work on these two issues together.

[2016-10-04 19:01] berndverst commented on #332
@mogul thanks for the context.

@jameshupp let me know how you want to tackle this. Happy to work on this together!

[2016-10-05 00:02] nikzei commented on #219
This is dependent upon whether we agree that our internal docs should be listed in the docs page - see https://github.com/18F/cg-product/issues/346.

[2016-10-05 00:10] nikzei commented on #339
Also related to 18F/cg-product#258

[2016-10-05 00:11] brittag commented on #451
To consider (moved from Slack discussion for decision by cg-style/visual-design folks):
- In search results, should the "visited" link color stay red, or should it move to purple to match the rest of the docs site?

[2016-10-05 00:30] berndverst commented on #358
related to 18F/cg-product#258

[2016-10-05 00:30] brittag commented on #339
As this issue gets more groomed, it might need a Highbar label too, depending on the shape of the work - not sure.

[2016-10-05 00:42] thisisdano commented on #451
I'll just rephrase this to say 'match docs visited link style in search results if possible'.

[2016-10-05 00:51] brittag commented on #451
@thisisdano Yes! It looks like I can change this configuration in https://search.usa.gov/sites/6217/font_and_colors/edit - but I don't want to change colors without 👍  from cloud.gov visual design. :)

[2016-10-05 01:09] thisisdano commented on #451
@brittag you get my official thumbs up

[2016-10-05 01:29] brittag commented on #451
@thisisdano YAY thank you! Done!

[2016-10-05 17:51] suprenant commented on #387
Noting that this could possibly require Liberator support.

[2016-10-05 17:55] brittag commented on #387
Yes, I'd recommend working on this with Liberator support - to work together to identify all the many places in the docs that line up with the many helpful Dashboard features!

[2016-10-05 17:58] brittag commented on #387
I'd also guess that some copy + documentation link updates for the Dashboard itself would naturally be a byproduct of working together on this story. :)

[2016-10-05 20:38] berndverst commented on #332
@jameshupp since I haven't heard anything I will proceed to make the change on a new branch and then review it together with you.

[2016-10-06 00:05] berndverst commented on #333
I would like the operational information to not live on docs.cloud.gov and definitely not in the same navigation hierarchy as our technical content.

I don't feel that having these documents on docs.cloud.gov is beneficial to our customers. Whether any customer has benefited from these documents so far, I do not know. That being said, I believe that we would be best advised not to use the cloud.go

[2016-10-06 21:09] #418 closed, assigned to nobody

[2016-10-06 21:09] #419 closed, assigned to juliaelman

[2016-10-07 03:15] dlapiduz commented on #333
We can do something like docs.cloud.gov/ops and have all the docs there. I don't think we should hide that info though.

[2016-10-07 03:56] mogul commented on #333
Right. The intent is that this information is open for people who want to
follow in our footsteps, and understand how our operations are handled.
It's fine to keep out of search results, but operators need to search too,
so we should think about how to preserve that capability. ;)

On Thu, Oct 6, 2016 at 8:15 PM, Diego Lapiduz notifications@github.com
wrote:

[2016-10-11 17:25] suprenant commented on #403
Noting that search (which has now been implemented) will help users find information here.

[2016-10-13 22:58] nikzei commented on #331
Hold until after @berndverst migrates from cg-docs to cg-site.

[2016-10-13 23:01] nikzei commented on #400
Let's do a docs-focused sprint working on docs after @berndverst and @jameshupp make headway with structural website changes. @berndverst @jameshupp

[2016-10-13 23:13] brittag opened #2 "Update LICENSE file to note files in repo that are not public domain"
The [LICENSE file](https://github.com/18F/cg-site/blob/master/LICENSE.md) says the repo is in the public domain, but there are some exceptions in https://github.com/18F/cg-site/tree/master/static/assets - so we should evaluate what needs to be in the LICENSE file and update it. We should also figure out whether we include any non-public-domain work from the Hugo template we use for this.

We shoul

[2016-10-13 23:45] nikzei commented on #428
Update should be a change in the target date so that it is  . . . not October but what? December?

@mogul, who do you suggest would be a good match for this task? @brittag perhaps?

[2016-10-14 00:22] brittag opened #4 "Configure the required reviews that cg-docs has"
cg-docs has a protected master branch, which is helpful, so let's set that up here too.

[2016-10-14 00:51] brittag commented on #4
I went ahead and set this up myself.

[2016-10-14 00:51] #4 closed

[2016-10-14 17:01] brittag commented on #325
Example user question related to sandbox spaces: are you allowed to give access to your space to other people in your team, such as giving a coworker space developer access?

[2016-10-14 17:13] afeld commented on #325
I thought I remembered seeing something about that when I was working on the pricing docs, but couldn't find anything with a quick glance.

[2016-10-14 17:31] brittag commented on #325
[From Slack](https://gsa-tts.slack.com/archives/cloud-gov-highbar/p1476466135004115), for future docs: "There’s no restriction on collaborating in a sandbox. The restriction is that you can’t have an OrgManager who can see/manage access and quotas for all the spaces."

[2016-10-14 18:47] jameshupp opened #464 "Consolidate current E/W-GovCloud migration documentation"
There is a lot of documentation that explains how to do certain things twice, once for each environment. However, there isn't a central place that helps people identify if they need to migrate, if they're ready to migrate, and what they'll need to do/know as they go. We're about to start telling people the migration is coming, so we should compile documentation about it in an easy-to-reference pla

[2016-10-16 03:07] amaline opened #467 "circleci cf client install instructions wrong"
The link on the wget command

  http://go-cli.s3-website-us-east-1.amazonaws.com/releases/latest/cf-cli_amd64.deb

one the page https://docs.cloud.gov/apps/continuous-deployment/ does not work.

The following would be better:

[code]

[2016-10-19 01:16] jmcarp commented on #234
So what would the docs say here? As @jezhumble pointed out on slack, our cron repos are basically abandoned, and I'm not sure if anybody is using them lately. It seems like our implicit stance on scheduling tasks is "bring your own scheduler"--we can write that down and link to examples if that would be useful.

[2016-10-22 04:18] mogul opened #477 "Dumping/restoring databases in GovCloud using port-forwarding should be documented"
In order for customers to manage the content of their DB services instances between spaces, the docs on managing databases should include an outline of how to use port-forwarding in the GovCloud environment.

**Background:**

The [databases page](https://docs.apps.cloud.gov/apps/databases/) outlines a cumbersome process for dumping/restoring DBs to/from a file in the instance, which requires the u

[2016-10-24 19:02] afeld commented on #477
/cc https://github.com/18F/cg-product/issues/211

[2016-10-25 21:21] jmcarp opened #484 "Document cloud.gov east aws account"
Because it exists, and we do things with it

cc @dlapiduz @sharms

[2016-10-25 21:34] afeld opened #485 "As a reader, I want to know what content is specific to GovCloud vs. East/West"
We already do this on a bunch of pages, but I suggest that we
1. [x] Audit/update the docs for what _isn't_ marked as such and shouldn't be
2. [x] Come up with a standardized way of indicating the environment(s?) a page or section of a page to pertain to; Don't Make Them Think

/cc @jameshupp

[2016-10-25 21:40] afeld opened #486 "Help cloud.gov tenants help teammates understand what is needed to deploy"
Per https://gsa-tts.slack.com/archives/cloud-gov-atlas/p1477431141005742.

https://cloud.gov/docs/apps/managing-teammates/#give-roles-to-a-teammate

/cc https://github.com/18F/cg-dashboard/issues/619

[2016-10-25 21:48] afeld opened #487 "As a product owner migrating to GovCloud, I want to know the costs involved"
- Having orgs in two places will incur quota costs in both places (right?)
  - It's not self-service to change the quotas as they go (/cc https://github.com/18F/cg-product/issues/386), so they can't really scale the price up and down if they are moving over slowly.
- Staff time (how to estimate this)
    - I've been telling people "a half hour to a week" worth of people-hours

## Acceptance criter

[2016-10-25 22:24] brittag commented on #333
As a reference for later, I wrote some more thoughts about where to put contributing docs [at the bottom of the site refactor proposal doc](https://docs.google.com/document/d/1os4Kfr1Lg1YPiU8tol6dS2g2ejzjyiKVqUfhZTFSYaU/edit#bookmark=id.l80bfdsz7rzq).

[2016-10-26 14:38] afeld opened #490 "update technical docs with S3 public access info in GovCloud"
- https://gsa-tts.slack.com/archives/cloud-gov-support/p1477439493002940
- https://groups.google.com/a/gsa.gov/forum/?utm_medium=email&utm_source=footer#!msg/cloud-gov-support/PrP1iV48bbA/lbFE2FX7AQAJ

[2016-10-26 15:56] afeld commented on #487
@dlapiduz @mogul Can you confirm this?

[2016-10-26 16:29] berndverst opened #492 "Update LICENSE file to note files in repo that are not public domain"
Reported by @brittag (and moved from another repo)

The LICENSE file says the repo is in the public domain, but there are some exceptions in https://github.com/18F/cg-site/tree/master/static/assets - so we should evaluate what needs to be in the LICENSE file and update it. We should also figure out whether we include any non-public-domain work from the Hugo template we use for this.

We should upd

[2016-10-26 16:31] berndverst opened #493 "Pa11y fixes"
Moved from another repo

@jeremiak commented on [Thu May 12 2016](https://github.com/18F/cg-landing/pull/65)

Inspired by #58 though it is now out of date because of the redesign. I ran the `HTML_CodeSniffer` tool on the current master branch and tried to fix the items that were in the "Error" category.

This PR changes:
1. The `<h2>` element in the header to be a regular `<div>` since it had no t

[2016-10-26 16:55] brittag commented on #492
Related issue: https://github.com/18F/cg-docs/issues/228

[2016-10-27 00:07] afeld opened #498 "As a tenant migrating to GovCloud, I want to know how to clean up my old resources"
Things that will be included:
- Route 53 entries
- ELBs
- Deleting the organizations in East/West
- Deleting the quotas in East/West
- Deleting any old resources not managed by cloud.gov
  - S3 buckets
  - RDS instances

Open questions:
- ~~Does deleting the organization delete all resources managed by cloud.gov? Is any manual cleanup necessary? Examples:~~
  - Applications
  - Services
  - Routes

[2016-10-27 04:44] afeld commented on #484
Could you provide some more detail here?

[2016-10-27 16:09] jmcarp commented on #484
cloud.gov has an aws account in the us partition that isn't the 18f account, which is where we keep cloudfront distributions for govcloud. We should document the existence of this account, what it's for, and who needs access.

[2016-10-27 16:48] afeld commented on #369
(Long) discussion of how to tackle this starting at https://gsa-tts.slack.com/archives/cloud-gov-atlas/p1477538944006072.

/cc https://github.com/18F/cg-site/issues/286

[2016-10-28 01:03] tts-bot opened #500 "Update from #cloud-gov-support at Fri, 28 Oct 2016 01:02:59 GMT"
https://gsa-tts.slack.com/archives/cloud-gov-support/p1477616579003185

[2016-10-28 01:03] mogul commented on #500
This was a test, closing.

[2016-10-28 01:03] #500 closed, assigned to nobody

[2016-10-28 13:50] cnelson opened #501 "Broken links to invite users"
These two pages have broken links to the invite app:
- https://github.com/18F/cg-site/blame/master/content/docs/apps/managing-teammates.md#L12
- https://github.com/18F/cg-site/blame/master/content/docs/ops/managing-users.md#L16

The links for invites are different for [govcloud](https://invite.fr.cloud.gov) and [east](https://invite.cloud.gov) so i wasn't sure how we wanted to display that informa

[2016-10-28 18:57] afeld commented on #485
My other thought here is that we could even have a toggle to say whether you're using East/West or GovCloud, and it would hide the non-relevant parts of the documentation.

[2016-10-28 20:00] #490 closed, assigned to nobody

[2016-10-29 21:38] mogul commented on #331
Still relevant?

[2016-10-29 21:40] afeld commented on #331
Haven't run it since, but probably!

[2016-10-29 22:05] mogul commented on #369
#286 was deprecated in favor of https://github.com/18F/cg-product/issues/236 which is deprecated in favor of https://github.com/18F/cg-product/issues/437

[2016-10-29 22:10] mogul commented on #501
@nikzei, for your attention... Stuck it at the bottom of the skyporter backlog for now.

[2016-10-29 22:14] mogul commented on #485
It's great if you can figure out how to do that... The other use-case is for people using CLI or dashboard when an action could be taken in either. See for example [the client-specific instructions](https://get.slack.help/hc/en-us/articles/201330256-Invite-new-members-to-your-Slack-team) in Slack's docs.

[2016-10-30 01:19] dlapiduz commented on #484
Here is some info: https://github.com/18F/cg-site/pull/506/files

[2016-10-30 01:34] dlapiduz commented on #487
Lets be super clear about this...

For usage we will either bill for GovCloud or E/W not for both. At this point we are only billing for E/W.

For access package it doesn't matter where your account is we will only bill you once.

[2016-10-31 13:16] abisker commented on #487
Ah that's great @dlapiduz! So we won't bill double for GovCloud and E/W. And we're not billing the partner for cloud.gov team time, but we ARE billing them for the project's team time in doing the transfer -- correct?

[2016-10-31 14:15] dlapiduz commented on #487
Correct, in most cases it won't be a huge lift and the cloud.gov team will help out. The end result is probably a better state for everyone.

[2016-10-31 14:26] abisker commented on #487
Yep, definitely. Thanks for the clarifications!

[2016-10-31 16:02] tts-bot opened #509 "The dashboard link on the nav goes to east, confusing GovCloud users."
EOM.

First mentioned by a customer here:
https://gsa-tts.slack.com/archives/cloud-gov-support/p1477929159003417

[2016-11-01 18:22] brittag commented on #428
Closed by https://github.com/18F/cg-site/pull/514

[2016-11-01 18:22] #428 closed, assigned to nobody

[2016-11-01 21:53] afeld commented on #219
Worth noting there is now a form for requesting orgs: https://goo.gl/forms/kabLHaza3qp0bg2l2

[2016-11-01 21:55] afeld commented on #219
Per @mogul [in Slack](https://gsa-tts.slack.com/archives/cloud-gov/p1478037153002396), the form should be filled out as migrations to GovCloud are done.

/cc @jcscottiii @jezhumble

[2016-11-01 22:39] mogul commented on #219
Right, the thought was that we start gathering that data consistently now, even though we're hand-managing the actual org creation as detailed above. Then later if it's just busy-work with few bumps, we can make something that looks at new .csv exports of the sheet attached to that form and makes sure that those orgs/roles/quotas etc. exist.

(The main thing is that the info we're gathering in tha

[2016-11-01 22:53] tts-bot opened #517 "Mention using brew to keep the CF cli client up to date for Mac users"
https://gsa-tts.slack.com/archives/cloud-gov-support/p1478040797003517

[2016-11-02 01:15] tts-bot opened #519 "Ensure we point to the best link for CLI setup"
https://gsa-tts.slack.com/archives/cloud-gov-support/p1478041729003527

[2016-11-02 05:53] afeld commented on #219
/cc https://github.com/18F/cg-product/issues/402

[2016-11-02 15:45] jameshupp opened #520 "Create a process for continuous updates of overview content"
In order to reduce the amount of time we spend tracking down answers to questions of fact for prospective cloud.gov users, as a cloud.gov business team member I want a clear process for continuous improvement of product overview content.

I'm aware this construction centers a team member as the user, but in this story that's basically correct. Within the process of actually updating the content, t

[2016-11-02 16:55] berndverst commented on #520
What I propose is this:
Whenever we see a new question and a team member provides an answer, we either dump that quickly into a Github issue, or we just directly make a PR for it if it seems easy.

For incremental content updates that don't introduce entirely new page we can use a very lightweight process. And these should be small items we can easily knock out because they don't require research.

[2016-11-02 17:07] jameshupp commented on #520
I think that sounds great. The lightweight process as far as I'm concerned could be as little as just noting that a PR/commit to content went through. I want to be able to see if the areas where lots of small changes are made coalesce, whether it's around a theme or a specific part of the IAA process, or what. If they're all over, we could keep plugging at content. If they are concentrated togethe

[2016-11-02 20:28] tts-bot opened #523 "generate a system diagram for an app based on what's running and the services bound"
https://gsa-tts.slack.com/archives/cloud-gov-support/p1478118474003573

[2016-11-03 16:05] tts-bot opened #524 "Update from #cloud-gov-support at Thu, 03 Nov 2016 15:01:40 GMT"
https://gsa-tts.slack.com/archives/cloud-gov-support/p1478185300003619

[2016-11-03 16:59] afeld commented on #487
From @adelevie [in Slack](https://gsa-tts.slack.com/archives/cloud-gov-migration/p1478183482000164):

(This might be a tangential story.)

[2016-11-03 18:42] afeld commented on #487
/cc https://github.com/18F/cg-product/issues/237

[2016-11-04 13:18] #524 closed, assigned to nobody

[2016-11-04 20:11] tts-bot opened #530 "Be clearer about the effects of outages"
https://gsa-tts.slack.com/archives/cloud-gov-support/p1478290288003713

"Point them at statuspage for an indication of our track record. Also let them know that the outage conditions for our platform generally leave hosted apps running fine and available to the public, just that you're unable to manipulate them during the outage."

[2016-11-04 21:09] brittag commented on #327
Noting for the future: @toolness is interested in helping with this when we get to this point. He can contribute his perspective as a cloud.gov user who has been wrangling with the ATO process.

Also a potentially-useful resource when this happens: https://github.com/18F/before-you-ship/issues/189

[2016-11-05 20:21] mogul commented on #369
Closing as a dupe of #521 which is also now completed.

[2016-11-05 20:21] #369 closed, assigned to afeld

[2016-11-08 05:09] #487 closed, assigned to afeld

[2016-11-08 13:00] afeld opened #534 "Add information about self-hosted continuous deployment tools"
Question came up in https://gsa-tts.slack.com/archives/g-devops/p1478548389000747. We should include a section about "using Jenkins, Concourse, or some other self-hosted continuous deployment platform?"

https://cloud.gov/docs/apps/continuous-deployment/

[2016-11-08 19:04] brittag commented on #332
I believe this is complete now. :)

[2016-11-08 19:04] #332 closed, assigned to berndverst, jameshupp

[2016-11-10 07:10] afeld commented on #464
Closed by https://github.com/18F/cg-site/pull/480.

[2016-11-10 07:10] #464 closed, assigned to jameshupp

[2016-11-10 23:35] #501 closed, assigned to afeld

[2016-11-13 18:15] #219 closed, assigned to mogul, afeld

[2016-11-15 18:47] suprenant commented on #253
@afeld we're doing some board cleanup. Is this still relevant?

[2016-11-15 18:52] #451 closed, assigned to nobody

[2016-11-15 19:38] brittag commented on #253
Switched this to a SkyPorter label since this is about user-facing content. It would still be good to come up with a way to consistently check for broken external links in our content.

[2016-11-15 22:04] brittag opened #560 "The "deploying x" guides need copyediting"
In order for cloud.gov tenants to set up apps quickly and easily, we need our "deploying x" guides to be clear, concise, and up-to-date.

Looking at this guides, they have some outdated bits ("It should now be running at APPNAME.18f.gov!") and passive voice. We should review them and fix them up:

- [x] https://cloud.gov/docs/apps/django/
- [x] https://cloud.gov/docs/apps/flask/
- [x] https://clou

[2016-11-15 23:17] cnelson opened #563 "ELB documentation needs updating / deleting"
We either need to update the [ELB Termination](https://cloud.gov/docs/ops/elb/) page with what we do in GovCloud or delete it.

**Acceptance Criteria**
- [ ] ELB documentation is updated or removed form the site

[2016-11-15 23:17] cnelson commented on #563
Does any of this information still apply? If not, can we just specifically mention ELBs in the
the Terraform section in the [aws onboarding](https://cloud.gov/docs/ops/aws-onboarding/) and delete this page?

[2016-11-15 23:27] afeld commented on #563
Since the CDN broker is only available in GovCloud (https://cloud.gov/docs/apps/custom-domains/#managed-service-method), seems like it would be sufficient to add a disclaimer to the top of the page with "this only applies to accounts that can't use GovCloud". That being said, maybe we can create the service instances for any new systems that would need it but can't log into GovCloud, and thus we d

[2016-11-16 00:20] nikzei opened #564 "Move "The Process of Building It" page out of the Overview section"
[The Process of Building It](https://cloud.gov/overview/overview/building-process/) seems out of place in the overview section. All the other pages in the overview section fit together to tell a story to a customer about why cloud.gov could help them. This page seems to talk more about our process than the user's need.

I think that this page might fit better in the "Technology" section, which off

[2016-11-16 03:18] berndverst commented on #331
[code]

[2016-11-16 20:26] BobBallance opened #569 "Accessing PostGIS on cloud.gov-brokered Postgres DBs"
@mogul

Here's how I was able to access the TIGER tables using the following commands, after logging into my AWS database  via psql.

First,  the documentation pointer that I needed:

<http://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/Appendix.PostgreSQL.CommonDBATasks.html#Appendix.PostgreSQL.CommonDBATasks.PostGIS>

The documentation from AWS talks about user `rds_superuser`, but you need to

[2016-11-16 23:01] adborden opened #571 "Add `fr.cloud.gov` domain to govcloud manifest"
The govcloud default domain switched to `*.app.cloud.gov`, so the original `*.fr.cloud.gov` urls are resulting in 404. We need to explicitly set the domain to avoid the default.

[2016-11-17 18:53] nikzei opened #577 "compile cloud.gov marketing package for engagement managers"
This should be a lightweight effort of pulling existing documentation and packaging it for engagement managers who will end up in the position of talking about cloud.gov with their agency partners. We should include basic product information (talking points?), intake template (this exists), and instructions about contacts within our team and other relevant information.

[2016-11-19 21:54] nikzei opened #582 "Expanding communication/blogging strategy to include educational content"
[sprint 3]

We've started [a running list of article topics ]( https://github.com/18F/cg-site/wiki/Article-Ideas) that are not about cloud.gov but are important for our prospective users to understand. Let's figure out what we want to do with this idea of expanding communications to include non-cloud.gov specific content.

Acceptance Criteria:

- [ ] decide whether we want to incorporate education

[2016-11-21 22:58] #436 closed, assigned to afeld

[2016-11-22 19:33] suprenant commented on #319
@mogul FYI pulling Navigator from here as well

[2016-11-22 19:52] suprenant commented on #279
This is dependent on this WDS upgrade: https://github.com/18F/web-design-standards/issues/1555

[2016-11-22 19:56] #336 closed, assigned to nobody

[2016-11-22 22:30] suprenant opened #590 "No Atom/RSS feed for subscribing to updates"
@suprenant commented on [Tue Nov 22 2016](https://github.com/18F/cg-dashboard/issues/759)

@adborden commented on [Fri Jul 08 2016](https://github.com/18F/cg-landing/issues/88)

I'd like to get updates from https://cloud.gov/updates/ via Atom/RSS. It seems like the `_feed.xml` is disabled.

[2016-11-23 00:49] brittag commented on #271
I believe this would still be useful for the documentation; reopening without the Navigator label.

[2016-11-23 00:51] brittag commented on #251
Reopening as a Skyporter issue, since it seems like Skyporter should check on whether this might still be a user need. I see there's some info at https://cloud.gov/docs/apps/production-ready/#protect-access-to-sensitive-credentials now, but I'm not sure whether it fully addresses this question.

[2016-11-23 01:44] brittag opened #592 "Make checklist of requirements for making a new cloud.gov repository"
In order for the cloud.gov team to follow our own best practices along with our security and compliance requirements, we should have a checklist for making a new cloud.gov repository.

This could be part of our [configuration management plan](https://cloud.gov/docs/ops/configuration-management/), which already includes our GitHub contribution guidelines.

**Examples of what this might include**

*

[2016-11-23 01:48] brittag commented on #367
We've deleted that page.

[2016-11-23 01:48] #367 closed, assigned to nobody

[2016-11-23 16:07] suprenant opened #594 "Form on #about needs a legend"
@suprenant commented on [Tue Nov 22 2016](https://github.com/18F/cg-dashboard/issues/758)

@msecret commented on [Thu Jun 30 2016](https://github.com/18F/cg-landing/issues/80)

Form at the bottom, Fieldset requires a legend

---

@msecret commented on [Thu Jun 30 2016](https://github.com/18F/cg-landing/issues/80#issuecomment-229816433)

Ref https://github.com/18F/Accessibility_Reviews/issues/18

-

[2016-11-23 16:07] suprenant commented on #594
@brittag I moved this one based on your note, thanks!

[2016-11-23 20:43] #485 closed, assigned to nobody

[2016-11-23 22:30] brittag opened #595 "Clarify Configuration Management workflow review steps"
In order for our team to easily understand and follow our [Configuration Management plan](https://cloud.gov/docs/ops/configuration-management/), we should update it to specifically reflect our required approval steps, since we now have protected branches with required approvals.

This is related to https://github.com/18F/cg-site/issues/592 but not the same task.

Also related: https://github.com/1

[2016-11-23 23:07] brittag commented on #595
Related: we should figure out whether the CM plan applies to docs (and related, whether it's ok to merge your own docs PR after approval). See https://gsa-tts.slack.com/archives/cloud-gov-skyporter/p1479939602004285 for context/discussion of pros and cons.

[2016-11-26 00:33] #484 closed, assigned to dlapiduz

[2016-11-28 22:50] nikzei opened #600 "Market research: review communications by similar commercial products"
[sprints 4/5 - time blocked]

We're interested in understanding how other established B2B companies communicate about services similar cloud.gov. Stripe, Slack, Heroku, and many, many others . . .

How do they discuss:
- the problem
- the product

[2016-11-28 23:03] nikzei commented on #402
@tadhg-ohiggins  - would love to have a conversation with you about this and learn more. I'll arrange!

[2016-11-28 23:24] brittag commented on #370
The setup page has info about this now - https://cloud.gov/docs/getting-started/setup/

[2016-11-28 23:24] #370 closed, assigned to nobody

[2016-11-28 23:25] brittag commented on #374
This is now consistent:

![screen shot 2016-11-28 at 3 25 15 pm](https://cloud.githubusercontent.com/assets/391313/20690341/e2eff656-b57e-11e6-844b-c40c84b350f9.png)

[2016-11-28 23:25] #374 closed, assigned to nobody

[2016-11-29 19:34] brittag commented on #595
Also at some point when we want to open a can of worms, we should look again at the forking vs branching guidelines there (https://cloud.gov/docs/ops/configuration-management/#forking-vs-branching) - not sure that reflects our current practice.

[2016-11-30 06:20] afeld commented on #271
Closed by https://github.com/18F/cg-site/pull/214.

[2016-11-30 06:20] #271 closed, assigned to nobody

[2016-11-30 06:48] afeld commented on #498
Confirmed that the CLI does recursive deletion.

* https://github.com/cloudfoundry/cli/blob/ffee70cca68ab15df71f48641f6fa3bb007c4a2b/cf/api/organizations/organizations.go#L103-L104
* https://apidocs.cloudfoundry.org/247/organizations/delete_a_particular_organization.html

[2016-11-30 13:16] #498 closed, assigned to nobody

[2016-11-30 23:07] nikzei opened #611 "New, non-18F customer testimonies"
In order to trust the cloud.gov as a product, I want to hear how it has worked well for other government teams like mine.

Acceptance Criteria:

- [ ] potential customers can learn about how cloud.gov has been used by other government teams
- [ ] potential customers can learn about cloud.gov from a neutral party that they can trust as credible (rather than only being able to learn from 18F teams t

[2016-12-02 00:25] brittag opened #617 "Describe the cloud.gov team on the website"
To help potential and current cloud.gov users gain a better understanding of cloud.gov and more confidence in it as a government service by and for government employees, our cloud.gov website could explain the team that builds this project.

This is just an idea right now - it could take a variety of forms on the website, or we could decide that it's not a good idea.

For example, the site could h

[2016-12-02 15:21] suprenant commented on #509
Looks like this has been addressed here: https://github.com/18F/cg-site/commit/ca55ec09513f993e9d728b2843ed521eae82382b

Closing this up

[2016-12-02 15:21] #509 closed, assigned to nobody

[2016-12-02 16:37] afeld commented on #486
@mogul Didn't we determine a user can get roles after they are invited but before they've accepted?

[2016-12-03 16:55] mogul commented on #486
Pretty sure we did confirm that, yes.

[2016-12-03 16:56] mogul commented on #486
(At least on the data/CLI side.)

[2016-12-06 18:29] suprenant commented on #235
@thisisdano to take a quicker look to see to if he can reproduce this. If not, he'll ask for some help.

[2016-12-06 19:26] suprenant commented on #235
![screen shot 2016-12-06 at 12 25 15 pm](https://cloud.githubusercontent.com/assets/1452369/20940201/87dc5bc6-bbb7-11e6-8b5e-2c0a8c1bcfa8.png)

^production

[2016-12-06 19:27] afeld commented on #235
Seems to have been fixed!

[2016-12-06 19:27] thisisdano commented on #235
This seems to be a new issue now. Anchor links are no longer appearing at all in my local instance (but they are on cloud.gov).

Locally, the heds are missing the `<a class="anchorjs-link ">`

@msecret @line47 can you reproduce?

**cloud.gov**
![screen shot 2016-12-06 at 11 25 01 am](https://cloud.githubusercontent.com/assets/11464021/20940188/b73191cc-bba6-11e6-8d70-c6a92a0c474d.png)

**local**
!

[2016-12-06 19:28] thisisdano commented on #235
See above ^^^

I see a new anchor link issue now... May as well piggyback on this issue since it's on our radar.

[2016-12-06 23:58] brittag opened #620 ""Managing Users" in ops docs needs updating"
https://cloud.gov/docs/ops/managing-users/ needs refactoring to fully reflect GovCloud, our fallback IdP, and our compliance requirements.

[2016-12-07 01:24] mogul commented on #331
I got rid of all but four in the PR above. The latter two are just private repositories. Not sure what to do with the references to `create-elb.sh` and the abacus stuff.

[code]

[2016-12-07 01:29] mogul commented on #319
This one's kind of addressing "production readiness", but from the compliance angle.

[2016-12-07 02:00] mogul commented on #453
Fixed by #531

[2016-12-07 02:00] #453 closed, assigned to nobody

[2016-12-07 03:20] afeld commented on #331
We'll call that "good enough for now"!

[2016-12-07 03:20] #331 closed, assigned to nobody

[2016-12-07 15:34] line47 commented on #235
I just got latest on this project and am seeing anchor links at H2 and H3 headers.

### Screenshot
<img width="747" alt="screen shot 2016-12-07 at 10 28 26 am" src="https://cloud.githubusercontent.com/assets/1449852/20973860/2dbd08aa-bc68-11e6-8331-da1937ddb98f.png">

[2016-12-07 16:05] thisisdano commented on #235
OK. huh. Cos not only do you see the links, but the spacing seems better than mine. (See space between the `ol` and the `h2`) — wtf?

I _seem_ to be on the latest master for both cg-site and cg-style...

- - -

<img width="694" alt="screen shot 2016-12-07 at 8 01 10 am" src="https://cloud.githubusercontent.com/assets/11464021/20975144/61430860-bc53-11e6-8bdb-62d6c943ee71.png">

[2016-12-07 17:50] suprenant commented on #235
@adborden to lend a hand here

[2016-12-07 18:21] brittag opened #623 "Update services examples on Continuous Deployment page"
For some of the examples at https://cloud.gov/docs/apps/continuous-deployment/#continuous-integration-services it's not quite clear what you're supposed to replace and what you're supposed to keep (for example what to do with `http://go-cli.s3-website-us-east-1.amazonaws.com/releases/latest/cf-cli_amd64.deb -qO temp.deb` and `dlapiduz/cloud-foundry-deploy`), and we also need to mention `api.fr.clo

[2016-12-07 18:52] brittag commented on #617
We currently have a team list at https://github.com/18F/cg-product/blob/master/DeliveryProcess.md#squads and squad descriptions at https://github.com/18F/cg-product#sub-teamsthemes-of-work; we haven't quite kept them up to date, which is ok since this isn't blocking anything, but might be nice to consolidate together as a team list on the site.

[2016-12-07 21:46] adborden opened #624 "Documentation for mongodb service?"
Looks like mongodb exists in govcloud, but not in e/w. I don't see it in the docs, but have questions about what I get with it. There is only one plan available standard.

[code]

Some questions I would like to see answered by the docs:
How many nodes in the replica set?
How much RAM does each node have?
How much storage is provided?
Is sharding available?
Are backups provided?

[2016-12-07 21:49] adborden commented on #235
We worked out the issue with @thisisdano 's setup and think this issue is fixed. @thisisdano do you want me to open a separate issue for the header spacing since that seems to be a valid bug.

[2016-12-07 21:49] #235 closed, assigned to line47, msecret

[2016-12-07 21:52] adborden opened #625 ""Read more" links aren't linked in the service documentation"
The "more" text is not clickable but the service name is linked to service-specific page. Maybe we should just drop the "Read More" column?
![screenshot from 2016-12-07 13-50-49](https://cloud.githubusercontent.com/assets/509703/20988123/3945fac6-bc84-11e6-802a-456f8ede8a7f.png)

[2016-12-09 19:49] jseppi opened #630 "Include how to have multiple callback urls for a registered UAA OAuth client"
The [Leveraging Authentication](https://github.com/18F/cg-site/blob/master/content/docs/apps/leveraging-authentication.md) page should include information on how multiple callbacks can be registered with a single UAA OAuth client. This should include information on the `redirect_uri` parameter.

[2016-12-09 23:35] brittag commented on #592
Related: https://github.com/18F/development-guide/tree/master/project_setup#initialization-checklist

[2016-12-12 19:11] msecret commented on #592
Speaking of `Give it a name starting with cg or cf`, there discussion going on in `cg-dashboard` about how it should technically be renamed to `cf-dashboard` because we're open sourcing it and now other teams using Cloud Foundry are using it. Maybe the guidance should be something like "if the repository is specific to cloud.gov or 18F, it should be named `cg`, otherwise `cf"?

[2016-12-13 05:29] mogul commented on #624
I thought this was only available to a certain subset of orgs, and invisible to others... /cc @dlapiduz

[2016-12-13 05:31] mogul commented on #617
/cc @datn

[2016-12-14 18:56] afeld commented on #438
Related: the relatively-new [org creation script](https://github.com/18F/cg-scripts/blob/master/cf-create-org.sh) now creates `dev`, `staging`, and `prod` spaces by default, which should nudge people into structuring their deployments that way.

[2016-12-15 19:05] suprenant opened #643 "Clean up sidebar nav for docs"
@suprenant commented on [Mon Dec 05 2016](https://github.com/18F/cg-dashboard/issues/796)

It's sometimes the case in the sidebar that that proper view is not highlighted. We want to fix this so users can easily navigate docs to find what they are looking for.

Implementation notes:
 - Find example of exhibition of each behavior
 - Determine and document priority/steps to fix
 - Fix accordingly

A

[2016-12-22 05:13] nikzei commented on #577
PI8 75% assessment:
WON'T
--> If website clearly communicates value proposition to non-technical audience, we can direct engagement managers to the site. No immediate need to produce new materials.

[2016-12-22 05:16] nikzei commented on #564
PI8 75% assessment:
MUST
--> we've been focusing on website improvement, changes to overview page are underway w/ focus on shifting away from talking about our building process (and toward talking about how we meet user needs + how customers may purchase).

[2016-12-22 05:19] nikzei commented on #402
PI8 75% assessment:
SHOULD
--> this speaks to an important need that existing users have, particularly new users.

[2016-12-22 05:22] nikzei commented on #520
PI8 75% assessment:
MUST
--> This is an important part of our efforts to make our communication efforts more user focused. We are close to meeting our set acceptance criteria.  Let's finish this up this PI, if not, let's get it done early PI9.

[2016-12-22 06:15] nikzei commented on #611
PI8 75% assessment:
SHOULD
--> would be good to do since it strengthens our communications of our value proposition. Not a must.

[2016-12-23 15:42] jameshupp opened #657 "New homepage copy requires tweak to chevron design"
@vz3 @suprenant @thisisdano

This needs to be resolved one way or another before #656 can be merged.

The new homepage copy reduces the number of homepage sections from 8 to 5. The chevron design of the homepage is disrupted by this change. The existing design follows these two patterns:

Color: blue (first/title section) -> white -> cream -> white -> black -> white -> cream -> white
Chevron shape

[2016-12-23 15:52] jameshupp opened #658 "New homepage copy requires updated icon"
@vz3 @suprenant @thisisdano

This is part of #656. It is not totally essential before that PR can be merged, but it would be best if we could resolve this before mid-January.

The existing three-column iconography for the homepage doesn't really work for the new content. There is a possible three-column section, but as you'll see the the third hexagonal icon with the compass doesn't really represe

[2016-12-28 00:42] brittag commented on #135
This is now consistent in the cg-site footers!

[2016-12-28 00:42] #135 closed, assigned to nobody

[2016-12-28 03:32] afeld commented on #625
Closed by #663.

[2016-12-28 03:32] #625 closed, assigned to nobody

[2016-12-29 18:36] suprenant commented on #657
@jameshupp is this still relevant given https://github.com/18F/cg-site/pull/656 is now merged?

[2016-12-29 21:45] suprenant commented on #658
We removed the icons so are considering this done. @jameshupp please let us know if you have questions or need anything further here.

[2016-12-29 21:45] #658 closed, assigned to nobody

[2016-12-30 00:41] mogul commented on #523
Promoted to a feature: https://github.com/18F/cg-product/issues/591

[2016-12-30 00:41] #523 closed, assigned to nobody

[2016-12-30 18:22] afeld opened #679 "consolidate information about setting up custom domains"
* https://cloud.gov/docs/apps/custom-domains/#managed-service-method
* https://cloud.gov/docs/services/cdn-route/

[2017-01-01 00:43] mogul commented on #577
Shall we `Icebox` then?

[2017-01-06 16:04] jameshupp commented on #657
@suprenant All good now! Addressed in #656

[2017-01-06 16:04] #657 closed, assigned to nobody

[2017-01-07 01:17] brittag commented on #679
We should also figure out whether to rename "CDN service" to "Custom domain service".

[2017-01-07 05:02] mogul commented on #560
I can appreciate what we did in #572 but now there's no indication of what languages we support. We should probably expand [this page](https://cloud.gov/docs/apps/frameworks/) to announce that clearly rather than burying that info behind buildpack jargon.

[2017-01-07 06:12] mogul commented on #571
Long since resolved now.

[2017-01-07 06:12] #571 closed, assigned to nobody

[2017-01-07 19:09] mogul commented on #600
This got done as part of the landing-page revamp, right?

[2017-01-07 19:52] nikzei commented on #600
Yes!

[2017-01-07 19:52] #600 closed, assigned to nikzei

[2017-01-07 19:55] nikzei commented on #577
I'd rather close this - I no longer see a need for it if our website successfully communicates the product and engagement managers can point prospectives to the site.

If, in the future, engagement managers have a particular need that arises, we can address it then.

[2017-01-07 19:55] #577 closed, assigned to nikzei

[2017-01-07 21:20] mogul commented on #679
We shouldn't, because that's not what CDN refers to in this case. Instead, it's [Content Delivery Network](https://en.wikipedia.org/wiki/Content_delivery_network) by virtue of the fact that it's using Cloudfront in the implementation. It just happens to also be a somewhat convenient way to support custom domains, albeit one that [we're considering replacing](https://gsa-tts.slack.com/archives/clou

[2017-01-23 17:23] #162 closed, assigned to nobody

[2017-01-23 17:23] #179 closed, assigned to sharms

[2017-01-26 20:30] nikzei opened #715 "Explain how cloud.gov supports continuous delivery"
In order to help prospective and current cloud.gov customers deliver great digital services to their users by moving their services to a PaaS and continuously delivering changes to their users, we should publicly explain how using cloud.gov supports practicing continuous delivery in the context of government compliance requirements. This should also be helpful information for other cloud service p

[2017-01-27 03:57] mogul commented on #138
Now handled by someone else, and also being addressed prior to the move to GovCloud.

[2017-01-27 03:57] #138 closed, assigned to nobody

[2017-01-28 03:26] brittag commented on #715
Groomed this story and moved it to "ready"! :high_five:

[2017-01-30 05:45] mogul commented on #715
/cc @LinuxBozo

[2017-01-31 19:26] suprenant commented on #486
Not thinking there will be a strong need here, but we can pick this up if needed.

[2017-01-31 19:29] suprenant commented on #477
We have a tool that can do this instead: cg-migrate-db.

[2017-01-31 19:29] #477 closed, assigned to nobody

[2017-01-31 23:10] nikzei commented on #520
We've made duplicates at cg-site #696 (also #691 is related). I will incorporate  relevant AC from those issues and then close them. cc [@James Hupp - TEACD]

Document where we are tracking questions from inquiries listserv: https://docs.google.com/document/d/1nVCgwNdYO_IO_Vj-4FVeHWBlmLMrlOjXHmPghm0oObQ/edit?pli=1

[2017-02-08 15:23] cnelson opened #744 "Relational Database page should reference cf-service-connect for GovCloud users"
Instead of the complicated steps listed under https://cloud.gov/docs/services/relational-database/#manually-access-a-database we should recommend GovCloud users use https://github.com/18F/cf-service-connect to access their databases

[2017-02-10 15:28] nikzei commented on #611
Document started by [@Britta Gustafson]  and [@James Hupp - TEACD]  to get this started: https://docs.google.com/document/d/1PEzMhZIndUIt2GibPYgya2WG3GWV2SjjAh33XmUsE0U/edit

[2017-02-15 03:52] brittag commented on #623
We've mostly fixed these issues!

[2017-02-15 03:52] #623 closed, assigned to nobody

[2017-02-15 03:54] brittag commented on #617
No longer thinking this would be helpful - we don't really see people asking about this.

[2017-02-15 03:54] #617 closed, assigned to nobody

[2017-02-15 17:56] brittag commented on #679
Done as part of https://github.com/18F/cg-site/issues/752 !

[2017-02-15 17:56] #679 closed, assigned to nobody

[2017-02-23 01:12] adborden opened #789 "Learning and reference table has single right-aligned column"
https://cloud.gov/docs/ has a table with a single column. We've changed the table styling to be left aligned except for the last column (right-aligned) which is an improvement for the majority of tables in the docs. Not only does this not work for tables with a single column, but a single column table doesn't really make sense. We should either add a second column or convert this table to a list.

[2017-02-23 01:16] brittag commented on #789
Heh, this can be a list instead of a table - I just wanted it to look nicer than a list, but that was sort of clunky.

[2017-02-23 01:32] brittag commented on #789
Fixed in https://github.com/18F/cg-site/issues/790!

[2017-02-23 01:32] #789 closed, assigned to nobody

[2017-02-23 02:43] adborden commented on #789
:sunglasses:

Feel free to open a bug against cg-style, the styles should look good in all contexts that they appear. Would be good to give more specifics about what makes it feel clunky to you.

[2017-02-23 17:25] nikzei commented on #520
Ask [@sharms - Steve Harms] whether this is a priority item for him.

[2017-02-23 18:21] brittag commented on #789
Oh good question! I like the list style in general, but the current body content of https://cloud.gov/docs/ just looks a bit empty, since I haven't been sure what to put there. That's a pretty low-priority page though - it doesn't really _need_ to do much.

[2017-02-24 03:10] cnelson opened #793 "Site is only running one instance in production"
During a maintenance window to upgrade CF to version 252 the cloud.gov site was temporarily unavailable because this app is not configured to run multiple instances.

The manifest for this app should be updated to provision multiple instances, and we should probably review this site to makes sure it follows all the other recommendations in our production ready guide.

[2017-02-24 04:00] mogul commented on #793
I'm confused... Do we address that by editing the manifest.yml here in GitHub, or is there something in the Concourse pipeline?

[2017-02-24 04:03] cnelson commented on #793
Should just be the manifest update.  I'll try to resolve this (and a couple others I noticed, like fugacious) tomorrow.  Should be white-noise work.

[2017-02-25 01:30] #793 closed, assigned to nobody

[2017-02-27 17:15] nikzei commented on #623
I'm archiving issues that are marked as closed.

[2017-02-27 17:15] nikzei commented on #679
marked as closed - I'm archiving.

[2017-02-27 17:16] nikzei commented on #617
marked as closed --> I'm archiving.

[2017-02-27 17:18] nikzei commented on #582
Let's incorporate this story into our blogging work.

[2017-02-27 17:30] nikzei commented on #399
We'll incorporate this text into https://favro.com/card/1e11108a2da81e3bd7153a7a/18F-603

[2017-02-28 01:31] adborden opened #798 "Pull service broker descriptions from the brokers themselves"
To avoid having to update service broker descriptions both in the docs and the service broker metadata, the docs should pull this information from the service brokers at build time. This also avoids the issue of the docs being out of sync from brokers.

https://gsa-tts.slack.com/archives/cloud-gov-atlas/p1488240746012348 from @jmcarp:

This way, we could add custom metadata to docs (like support s

[2017-02-28 01:33] adborden commented on #798
Might also add a note in the README or toml files indicating where the service broker metadata lives, since each is in it's own repository.

[2017-02-28 06:20] mogul commented on #798
I really like this idea. Which squad do you think is best-suited to take on the work?

[2017-02-28 22:06] nikzei commented on #530
[overview content]

When people ask for service level agreements (SLAs) (what uptime do you promise?). People ask for this promise but we don't offer it. Instead, we encourage them to look at our status page.

Additionally, we want to help them understand that our outages are platform specific, not app specific.

[2017-02-28 22:22] afeld commented on #534
Would be great to add some information about the brokered Concourse (as an experimental feature). Maybe that's a tangential conversation?

[2017-02-28 23:55] adborden commented on #798
I'm not sure. This feature makes it easier to keep the dashboard, CLI, and docs consistent so it could fall under either the Navigator or Skyporter theme. But neither owns the repositories that house the actual metadata, so it could also be someone else.

[2017-03-01 00:51] brittag commented on #530
The ticket response at https://cloud-gov.zendesk.com/agent/tickets/313 is a good example of the kind of mental model that we should give to our customers to help them understand what to expect / where to look.

[2017-03-01 06:39] mogul commented on #534
Definitely a different conversation. Right now we're not documenting it because we can't offer it to anyone outside of 18F... We need improvements in the isolation between Concourse teams before we'd do that. There's a CI-as-a-Service feature planned and when we take that on we'll reapproach this and hope that either Concourse has gotten better in that regard, that it's straightforward enough we c

[2017-03-01 17:43] nikzei commented on #358
check in with Britta before picking this one up

[2017-03-01 18:46] adborden commented on #467
These are the commands we're using for dashboard. Has the advantage that it's still using a `.deb` file.

[code]

[2017-03-01 19:19] nikzei commented on #519
This seems more appropriately a component of a story about documentation for user onboarding.

I've referenced this issue in https://favro.com/card/1e11108a2da81e3bd7153a7a/18F-3321 and am closing this story.

[2017-03-01 21:27] mogul commented on #798
OK. We're thinking now about how we might shake-up/mash-up the squads for the coming quarter and this is a good test-case for that.

[2017-03-01 22:21] #519 closed, assigned to nobody

[2017-03-02 22:47] nikzei commented on #358
[@jameshupp - James Hupp] our cg-ste brainstorm today touched upon this quite a bit, I think. I've added one more AC to see if we can get customers to pricing information more quickly.

[2017-03-03 23:21] brittag commented on #358
Related to this, I made a card about improving info for the prototyping package: https://favro.com/card/1e11108a2da81e3bd7153a7a/18F-3469

[2017-03-06 16:36] nikzei commented on #744
I'm creating a card for this in Favro + closing this issue.

[2017-03-06 16:36] #744 closed, assigned to nobody

[2017-03-06 18:28] nikzei commented on #358
Related story on improving documentation around prototyping accounts: https://favro.com/card/1e11108a2da81e3bd7153a7a/18F-3469

[2017-03-06 19:53] brittag commented on #744
Link to card for easy cross-referencing: https://favro.com/card/1e11108a2da81e3bd7153a7a/18F-3486

[2017-03-06 22:44] mogul commented on #798
We should see if we can have this include the buildpack information too.

[2017-03-06 23:46] adborden opened #812 "Document buildpack information from CF API"
In the spirit of https://github.com/18F/cg-site/issues/798, we can provide up-to-date information about what buildpacks cloud.gov supports if we pull this information from the [CF API](https://apidocs.cloudfoundry.org/252/buildpacks/list_all_buildpacks.html). We might want to keep some extra metadata on the buildpacks in addition to what the API provides so that we can provide additional context (

[2017-03-06 23:47] adborden commented on #798
Great idea, I've captured it in a separate story since it will be a different implementation. We don't even keep metadata on the buildpacks in cg-site from what I can tell.

[2017-03-08 17:25] nikzei commented on #358
From the inquiries listserv: a few questions that @brittag suggested could be helpful address briefly on the website so that customers can bring more nuanced questions to us:

- How long will this [IAA processing] take? (I think we discuss this in our IAA section but maybe it's not easy enough to find)

- Is the support and service a part of the payment, or will the agency be billed for services s

[2017-03-08 18:10] nikzei commented on #358
Let's discuss and groom with [@jameshupp - James Hupp] before we pick this up.

[2017-03-09 20:29] msecret commented on #467
Is there a reason this was assigned to Navigator?

[2017-03-09 22:28] adborden commented on #467
I'm not exactly sure why it ended up in the Navigator queue, but I think it makes sense. Both Navigator and Skyporter have overlapping goals in keeping documentation and overall platform UX consistent. Navigator seems to act as the "technical arm" for Skyporter recently and I'm happy to take on this work.

I wonder if at some point this example actually came from cg-dashboard's deploy script.

[2017-03-13 17:50] #467 closed, assigned to nobody

[2017-03-15 14:14] nikzei commented on #358
See card for pricing visuals: https://favro.com/card/1e11108a2da81e3bd7153a7a/18F-2911

[2017-03-15 19:23] nikzei commented on #358
Also related, this card re: improving navigation for pricing: https://favro.com/card/1e11108a2da81e3bd7153a7a/18F-2798

[2017-03-16 20:10] #563 closed, assigned to nobody

[2017-03-18 00:21] brittag commented on #611
Related card: [simple list of example systems](https://favro.com/card/1e11108a2da81e3bd7153a7a/18F-3799).

[2017-03-20 21:39] nikzei commented on #358
I'm typing up notes from a pricing research session with a colleague at 18F.

[2017-03-21 15:44] nikzei commented on #358
Note that we have not yet conducted testing to validate these assumptions about the success of our changes. Testing should follow - we'll make a card.

[2017-03-23 19:47] #564 closed, assigned to nobody

[2017-03-30 23:10] fureigh opened #849 "Update docs to reflect the shutdown of East/West"
Once we shut down the East/West environment, let's update the docs to remove any references to it, updating to GovCloud as appropriate.

Don't merge PRs corresponding to this issue until https://github.com/18F/cg-product/issues/68 is complete.

(Favro ticket [18F-3841](https://favro.com/card/1e11108a2da81e3bd7153a7a/18F-3841))

[2017-04-11 18:50] hollyallen opened #858 "Old ssp at compliance.cloud.gov is confusing"
I was recently fooled into thinking that the old SSP at compliance.cloud.gov was the real up to date one. I knew better, but still was fooled. It came up in google search results for a NIST control (probably "nist ra-5 container").

There is a note on the front page of the site that says it is not the up to date SSP, but I did not see that page until Bret told me about the note there.

I recommend

[2017-04-13 17:12] brittag commented on #858
Thanks Holly! We agree - [we have a plan here to take it down](https://favro.com/card/1e11108a2da81e3bd7153a7a/18F-4263). I'll follow up on that.

[2017-04-19 13:37] toolness opened #864 "cloud-gov-identity-provider.md does not explain how to retrieve OAuth2 secrets"
I noticed that [`cloud-gov-identity-provider.md`](https://github.com/18F/cg-site/blob/master/content/docs/services/cloud-gov-identity-provider.md) explains how to register an `oauth-client` service, but it doesn't provide any information about actually obtaining the client ID and client secret for the service, which are required to authenticate against it (they are mentioned in the [leveraging aut

[2017-04-20 22:30] brittag commented on #864
Good point, thank you! Yes, we would be delighted to get a PR for this!

[2017-04-21 23:42] fureigh commented on #849
Ready for review in https://github.com/18F/cg-site/pull/851.

[2017-05-02 14:53] aucjo01 opened #877 "Service Level Agreements"
Does cloud.gov come with any Service Level Agreements?
How are the SLAs tracked internally to insure success, proactive monitoring, quick problem resolution, etc.?
How are the SLAs reported to the customers of the cloud.gov service?
How can cloud.gov and its customers figure out is a problem is due to the customer's app versus the cloud.gov service?
Any and all SLA info is appreciated!

[2017-05-02 18:21] brittag commented on #877
Thank you @aucjo01 for asking this! So far we've primarily been discussing these topics with prospective and current customers in conversations, and we plan to publish information on the cloud.gov website with a crystallized version of those conversations for easy review. We'll post a note on this issue when we have an update on that.

Our [cloud.gov StatusPage](https://cloudgov.statuspage.io/) ma

[2017-05-02 19:37] #864 closed, assigned to nobody

[2017-05-16 16:10] toolness opened #891 "cloud.gov service account documentation does not explain how to obtain username/password"
Similar to #864, I noticed today that the documentation for [cloud.gov service account](https://cloud.gov/docs/services/cloud-gov-service-account/) doesn't mention how to obtain the username/password for the created service.

Interestingly, the GitHub repo linked-to from this documentation is the same one linked-to from the docs mentioned in #864. The README on that repo explains how to get the cr

[2017-05-16 16:52] brittag commented on #891
Excellent point, thank you! It sounds good to me to submit a PR clarifying this on this page, very similar to the earlier PR you submitted. It's only a little bit of duplication across two pages, and I believe it best serves the reader's needs to show them this info in context on the page they're already reading, rather than making them switch between multiple pages to get the info they need.

[2017-05-16 17:01] toolness commented on #891
Good idea--I will submit a PR soon!

[2017-05-16 23:24] #891 closed, assigned to nobody

[2017-05-17 23:21] fureigh opened #893 "Distinguish operations docs from general user docs: Troubleshooting SMTP edition"
**User stories:**
* As a cloud.gov user, I want to be able to follow the docs' instructions, so that I can accomplish what I came to do without accidentally following false paths.
* As a cloud.gov team member doing support, I want a reliable set of instructions that are reliably applicable to users, so that I can give users accurate guidance.

**Context:**
There's a larger question about whether o

[2017-05-17 23:26] brittag commented on #893
All of the pages in /docs/ops/ are specific to the cloud.gov team and not expected to be usable by people outside 18F, other than /docs/ops/repos/. Sounds like we might need a tiny template note at the top of each /docs/ops/ page in case people end up there without that context.

[2017-05-18 18:46] jcscottiii opened #896 "Remove content/docs/apps/govcloud.md once the login page stops using the URL."
Once the login page stops using the URL to the GovCloud page, we should remove it. It is at `content/docs/apps/govcloud.md`

![image](https://cloud.githubusercontent.com/assets/7788930/26218368/bbf55100-3bd8-11e7-8781-9e13c6451935.png)

[2017-05-18 19:41] jcscottiii commented on #896
Should also update anywhere else that's using it: https://github.com/search?p=1&q=%22%2Fdocs%2Fapps%2Fgovcloud%2F%22&type=Code&utf8=%E2%9C%93

[2017-05-30 21:56] #849 closed, assigned to fureigh

[2017-06-15 18:18] brittag commented on #858
We've taken down `compliance.cloud.gov`, so I'll close this issue.

[2017-06-15 18:18] #858 closed, assigned to nobody

[2017-06-21 22:47] cnelson opened #941 "Script mention in secrets doc is missing"
@rogeruiz / @wjwoodson - I notice the [docs mention a `get-all-cf-deployers.sh` script ](https://github.com/18F/cg-site/blame/master/content/docs/ops/runbook/rotating-secrets.md#L145)but I don't see in the `cg-scripts` repo.  Where can I find it?

[2017-06-22 19:40] rogeruiz commented on #941
closed by 18F/cg-scripts#52

[2017-06-22 19:40] #941 closed, assigned to nobody

[2017-06-30 00:40] brittag commented on #624
Yeah, we shouldn't document this since it's not supported and only available to like one internal org.

[2017-06-30 00:40] #624 closed, assigned to nobody

[2017-06-30 00:41] #560 closed, assigned to nobody

[2017-07-26 01:29] brittag commented on #55
Done at https://cloud.gov/docs/apps/multiple-instances/

[2017-07-26 01:29] #55 closed, assigned to nobody

[2017-07-26 01:31] brittag commented on #65
Covered by the docs at https://docs.cloudfoundry.org/buildpacks/ruby/index.html such as https://docs.cloudfoundry.org/buildpacks/ruby/gsg-ror.html

[2017-07-26 01:31] #65 closed, assigned to nobody

[2017-07-26 01:33] brittag commented on #134
https://cloud.gov/docs/apps/production-ready/#protect-access-to-sensitive-credentials explains "Environment variables defined with cf set-env are ephemeral to the specific deployment of each application. Use user-provided services to store sensitive information such as credentials or API keys, and use your manifest.yml for non-sensitive variables."

[2017-07-26 01:33] #134 closed, assigned to nobody

[2017-07-26 01:34] brittag commented on #137
Covered by https://docs.cloudfoundry.org/buildpacks/php/ + https://docs.cloudfoundry.org/buildpacks/php/gsg-php-sessions.html

[2017-07-26 01:34] #137 closed, assigned to nobody

[2017-07-26 01:35] brittag commented on #154
This is ok!

[2017-07-26 01:35] #154 closed, assigned to nobody

[2017-07-26 01:36] brittag commented on #228
It's probably fine.

[2017-07-26 01:36] #228 closed, assigned to nobody

[2017-07-26 01:37] brittag commented on #220
Page no longer says this, and we'll look again at how want to handle explaining per-service rates when we get to the point for charging for services.

[2017-07-26 01:37] #220 closed, assigned to nobody

[2017-07-26 01:39] brittag commented on #209
This is more an 18F engineering onboarding issue than a cloud.gov docs issue, and I think it's already handled by 18F engineering.

[2017-07-26 01:39] #209 closed, assigned to nobody

[2017-07-26 01:42] brittag commented on #447
We solved this by deleting the page: https://github.com/18F/cg-site/pull/619

[2017-07-26 01:42] #447 closed, assigned to nobody

[2017-07-26 01:52] brittag commented on #325
This is handled on https://cloud.gov/overview/pricing/free-limited-sandbox/

[2017-07-26 01:52] #325 closed, assigned to nobody

[2017-07-26 01:53] brittag commented on #333
We resolved the main problem here by renaming this section from "Contributing" to the better description of "cloud.gov team docs".

[2017-07-26 01:53] #333 closed, assigned to nobody

[2017-07-26 01:54] brittag commented on #388
We now have basic sequencing / cross-linking here.

[2017-07-26 01:54] #388 closed, assigned to nobody

[2017-07-26 01:56] brittag commented on #620
Handled in https://github.com/18F/cg-site/pull/932

[2017-07-26 01:56] #620 closed, assigned to nobody

[2017-07-26 01:57] brittag commented on #386
This would be nice, but people don't generally read extensive contributing docs.

[2017-07-26 01:57] #386 closed, assigned to nobody

[2017-07-26 01:58] brittag commented on #400
This is fixed.

[2017-07-26 01:58] #400 closed, assigned to nobody

[2017-07-26 02:04] #339 closed, assigned to nobody

[2017-07-26 02:04] brittag commented on #339
We fixed this by removing confusing information about compliance toolkit.

[2017-07-26 02:06] brittag commented on #402
I think the best way to solve this is by generally having good docs that serve newcomers well, so that people who are returning to cloud.gov after a while away are served well too.

[2017-07-26 02:06] #402 closed, assigned to nobody

[2017-07-26 02:06] brittag commented on #427
We now have guidance for this on https://cloud.gov/docs/help/

[2017-07-26 02:06] #427 closed, assigned to nobody

[2017-07-26 02:07] brittag commented on #643
This isn't a problem anymore.

[2017-07-26 02:07] #643 closed, assigned to nobody

[2017-07-26 02:08] brittag commented on #715
This was a good idea, but we have a lot of other post ideas that would take priority over this one to address specific prospective user questions that we hear more often.

[2017-07-26 02:08] #715 closed, assigned to nobody

[2017-07-26 02:10] brittag commented on #517
I looked at this and decided that it would add too much complexity to https://cloud.gov/docs/getting-started/setup/#set-up-the-command-line for only a subset of users. People can still find out about this option in the CF CLI docs if they want to.

[2017-07-26 02:10] #517 closed, assigned to nobody

[2017-07-26 02:12] brittag commented on #348
It wouldn't hurt to refactor our docs, but this issue has outdated info.

[2017-07-26 02:12] #348 closed, assigned to nobody

[2017-07-26 02:13] brittag commented on #327
We're handling this in other stories.

[2017-07-26 02:13] #327 closed, assigned to nobody

[2017-07-26 02:14] brittag commented on #486
We're handling this with existing stories.

[2017-07-26 02:14] #486 closed, assigned to nobody

[2017-07-26 02:15] #582 closed, assigned to nobody

[2017-07-26 02:22] brittag commented on #896
Filed a PR at https://github.com/18F/uaa-customized-boshrelease/pull/9

[2017-07-26 03:38] jmcarp commented on #141
We now automatically set up development, staging, and production spaces in each new org, which should help users avoid binding services across environments. I'm going to close this for now, but please reopen if there's more we should be doing.

[2017-07-26 03:38] #141 closed, assigned to nobody

[2017-07-26 03:41] jmcarp commented on #405
I wonder if this question is too broad to try to answer in one place--what even are "technologies"? It could mean services, or languages, or other things, but IMO those belong in different places. I'm going to close this, but please reopen if I shouldn't have @afeld @brittag @mogul. Better to ask for forgiveness than permission 😇

[2017-07-26 03:41] #405 closed, assigned to nobody

[2017-07-26 03:43] jmcarp commented on #202
Looking over these notes, I see that lots of things have changed since January 2016, hopefully for the better. Closing unless there's some concrete thing we should do with these notes @afeld.

cc @brittag @mogul

[2017-07-26 03:43] #202 closed, assigned to nobody

[2017-07-26 03:45] jmcarp commented on #279
@suprenant do you know where this stands?

[2017-07-26 18:38] brittag commented on #896
We still need to remove this page. :D

[2017-07-26 18:42] jcscottiii commented on #896
Whoops. jumped ahead of myself!

[2017-08-02 01:53] brittag commented on #896
That change is deployed, so the login page no longer links to the GovCloud page. We're free to remove the GovCloud page (or redirect it).

[2017-08-02 02:14] brittag commented on #382
This is basically already covered by the existing docs.

[2017-08-02 02:14] #382 closed, assigned to nobody

[2017-08-02 02:15] brittag commented on #347
We've already covered most of this in existing improvements.

[2017-08-02 02:15] #347 closed, assigned to nobody

[2017-08-02 02:21] brittag commented on #253
I ran a link checker on the site and found only one legitimately broken link, "[security reasons](http://www.twobotechnologies.com/blog/2014/02/importance-of-state-in-oauth2.html)" on https://cloud.gov/docs/apps/leveraging-authentication/

I'll fix that, but I think we're doing ok without the automated version.

[2017-08-02 02:27] brittag commented on #253
Eh, reopening - this was an important catch actually!

[2017-08-03 01:16] suprenant commented on #253
We had a recent update to the Github issue that didn't come through here.

[2017-08-09 18:36] #896 closed, assigned to nobody

[2017-08-10 01:18] brittag commented on #403
CF docs turn up in search, but worth still thinking about this again in the future since it's not clear to us whether that's adequately serving this need.

[2017-08-11 23:58] brittag commented on #368
Reopened because we should still clarify at https://cloud.gov/docs/services/cloud-gov-service-account/ that these accounts should never be used for human purposes.

[2017-08-28 00:26] jmcarp commented on #611
@brittag: if we're tracking this in the card you linked, can we close this issue?

[2017-08-28 00:28] jmcarp commented on #590
@suprenant: is there a favro card for this? I'm hoping to continue closing these issues 😃

[2017-08-28 15:09] brittag commented on #611
Yeah, let's close this. Thanks!

[2017-08-28 15:09] #611 closed, assigned to nobody

[2017-08-29 23:44] brittag commented on #387
I made a list of the places for this: https://github.com/18F/cg-site/pull/1020#issuecomment-323135000

[2017-08-29 23:47] brittag commented on #328
In the PR at https://github.com/18F/cg-site/pull/1036 I removed the one tiny mention of blue-green deployment because it was part of unmaintained Wercker instructions. We'll need to bring it back in some fashion.

The [production-ready guide has a tiny bit of info about zero-downtime deployment](https://cloud.gov/docs/apps/production-ready/#zero-downtime-deploy) but it's not integrated into the ot

[2017-08-31 23:03] gboone commented on #590
If there is, we should note there is a feed but it's maybe a non-intuitive URL https://cloud.gov/updates/index.xml

[2017-09-04 18:09] #590 closed, assigned to nobody

[2017-09-06 15:54] #893 closed, assigned to nobody

[2017-09-18 21:57] brittag commented on #812
This is a cool idea since it could be automated and could offer more detailed info about the buildpacks, but since our buildpacks don't change very often (probably not more than once a year), this seems better to update manually rather than writing code that we'd have to maintain.

[2017-09-18 21:57] #812 closed, assigned to nobody

[2017-09-18 22:01] #798 closed, assigned to nobody

[2017-09-18 22:04] suprenant commented on #798
Closing this issue but keeping this card in Favro for future reference.

[2017-09-22 01:29] brittag commented on #429
Basic info handled by https://github.com/18F/cg-site/pull/1076

[2017-09-22 01:29] #429 closed, assigned to nobody

[2017-09-22 01:31] brittag commented on #234
This will be resolved by https://github.com/18F/cg-site/pull/1072

[2017-09-22 01:31] #234 closed, assigned to nobody

[2017-09-22 01:32] brittag commented on #595
Current plan at https://cloud.gov/docs/ops/configuration-management/ is fine for this particular need.

[2017-09-22 01:32] #595 closed, assigned to nobody

[2017-09-22 01:46] brittag commented on #303
I don't see any links at the bottom of the HTML that don't show on the page.

[2017-09-22 01:46] #303 closed, assigned to nobody

[2017-11-16 18:37] #592 closed, assigned to nobody

[2017-11-16 18:38] brittag commented on #534
We have a link to a Jenkins example now, and better overall explanations of setting up CI/CD.

[2017-11-16 18:38] #534 closed, assigned to nobody

[2017-11-16 18:38] brittag commented on #530
This should be integrated into overall SLA work instead of being its own task.

[2017-11-16 18:38] #530 closed, assigned to nobody

[2017-11-16 18:39] #520 closed, assigned to jameshupp

[2017-11-16 18:40] #368 closed, assigned to nobody

[2017-11-16 18:40] #361 closed, assigned to nobody

[2017-11-16 18:40] #358 closed, assigned to nobody

[2017-11-16 18:41] #334 closed, assigned to nobody

[2017-11-16 18:41] #287 closed, assigned to jacobian

[2017-11-17 02:16] #293 closed, assigned to jacobian

[2017-11-17 02:16] #294 closed, assigned to jacobian

[2017-12-05 15:20] Susie-in-Ontario opened #1139 "Are wildcard DNS entries required for cloud hosting?"
hi there
I'm looking for advice and guidance on the issue of wildcard DNS for cloud hosting.
The Government of Ontario is planning an instance with Pivotal Cloud Foundry who insist that this is required.
Among my concerns is the ability to know what's in development, to ensure that it aligns with our needs and meets our standards and all that good stuff
Thanks!
Regards,
Susie Floresco
Manager, Ent

[2017-12-05 15:33] pburkholder commented on #1139
Hi Susie,

Good to hear from you. Our 18f alumna Hilary Hartley is now over with you folks, right?

I want to make sure to make sure I'm answering the right question. To provide background, for cloud.gov we have a DNS wildcard for *.app.cloud.gov, so any new application, say "newapp", can be accessed at "newapp.app.cloud.gov".

Are you asking: how do we control what's routed to "*.app.cloud.gov" s

[2017-12-05 18:13] Susie-in-Ontario commented on #1139
hi Peter
Yes, Hillary came north to the Government of Ontario in the spring <happydance>

I am asking about governance and auditability.  A wildcard DNS entry is against our Standard and Guidelines.

I suppose a different way to ask is what is the route taken to get to the "newapp.app.cloud.gov" spot?

I'll stay here for now as I'm learning....but I'd very much like the names for gov.uk and the DT

[2017-12-06 01:14] jmcarp commented on #1139
When we get a request for some-app.app.cloud.gov, dns resolves to our aws elastic load balancer. The load balancer distributes requests among our cloud foundry routers, which inspect the `Host` http header to figure out which application to route to.

If we didn't use wildcard dns, we'd have to provision a new dns entry for each customer application as soon as it was provisioned. As far as I know,

[2017-12-06 15:10] pburkholder commented on #1139
Hi Susie,

You can still use wildcard DNS and still get the governance control you mentioned.  Here are a few ways.

1. Run a development and a production version of PCF. The development PCF exposes a router with a DNS wildcard for, say *.devapps.ontario.ca, which resolves to an IP address that is _internal only_ to your agency. The production PCF only runs the vetted apps for *.apps.ontario.ca.

[2017-12-06 23:18] Susie-in-Ontario commented on #1139
hmm, i do like the sound of #3, thanks
my main concern is the governance - how do you onboard people to your cloud? how do you ensure that what they tinker with meets a real user need AND your web design standards? i have a legislated need to be able to demonstrate accessibility (and i fear development proceeding merrily along and then receiving the request for prod and hearing 'oh gosh, does it n

[2017-12-07 00:00] pburkholder commented on #1139
We're a shared-service for various agencies w/in the USGov and we stay out of governance. How they grant access to cloud.gov orgs for their teams is up to them, we usually integrate with their identity providers so when someone leaves an agency, they lose access to cloud.gov w/o any action on our platform; they simply can't authenticate any more.

As for applications, getting authorization for the

[2018-01-10 15:56] pharten opened #1184 "Avoid easily-confused characters in generated user-facing credentials"
When you send passwords for logins, do not use lowercase l,1, or uppercase O,0 at all.

[2018-01-10 16:13] pburkholder commented on #1184
Hi Paul,

Sorry to hear that this caused issues for you. Which password set/reset process caused you a problem? We have several.

Thanks,

Peter

[2018-01-10 16:48] pharten commented on #1184
Peter,

From the quickstart page (https://cloud.gov/quickstart/), I was running “cf login -a https://api.fr.cloud.gov -sso” and was prompted for a password.  I went to https://login.fr.cloud.gov/passcode and was prompted to put in my smart card and enter my ID.  When I did this, I was given a password that contained a straight line between two capital letters.  My first interpretation was that it

[2018-01-10 16:56] pburkholder commented on #1184
Paul,

Thanks for the detailed description. We have assumed (incorrectly) that copy/paste would work for our users. Let me look into a fix for this.

Cheers, Peter

[2018-03-05 17:55] froi opened #1214 "User management not working as expected in Firefox"
Hello,

I hope this is the correct repo to report this.

Checkboxes to manage user roles are not appearing when using Firefox but are in Chrome:

__Firefox v. 58.0.2__
![image](https://user-images.githubusercontent.com/1918027/36990487-dc8857e4-2072-11e8-9bf8-c32ab5e5cb3e.png)

__Chrome v. 64.0.3282.186__
![image](https://user-images.githubusercontent.com/1918027/36990544-102af476-2073-11e8-9a8f-4

[2018-03-05 21:22] brittag commented on #1214
Thanks for reporting this - we'll poke around at what's happening here. The codebase for that is technically over at https://github.com/18F/cg-dashboard, but filing an issue here is totally fine too.

[2018-03-05 21:31] froi commented on #1214
Great to know @brittag. If you'd prefer I can open an issue in the cg-dashboard repo and close this one.

Up to you :). Thanks

[2018-08-15 22:29] 2chang opened #1329 "Is there a place where we can look up on average ATO approval process timeframes?"
I was attempting to look up how long the ATO process would take on a system, given the system is in a IaaS Government Cloud environment already?

[2018-08-15 22:55] pburkholder commented on #1329
Hi - interesting question!  Frankly, the ATO process is too dependent on how agencies approach it for us to generalize. Can you email us at cloud-gov-inquiries@gsa.gov and we'll help you with your specifics?

Cheers, Peter

Also, you might want to read this to see what can map to your situation: https://18f.gsa.gov/2018/07/19/taking-the-ato-process-from-6-months-to-30-days/

[2018-08-15 23:00] mogul commented on #1329
You might also want to check out:
https://cloud.gov/docs/compliance/ato-process/

[2018-08-17 20:13] 2chang commented on #1329
Thank you both for the assistance on this end and I have been able to read through both.

I wasn't sure if anyone here had experience or knew of the NIH ATO Cloud process. Our application is cloud based and currently sits in an government infrastructure (Network, metal, and data center) that are FedRamped so we will have to get an ATO for the actual application. As Peter so kindly mentioned above

[2018-08-17 20:28] pburkholder commented on #1329
This summer we've started working with an NIH customer who may be available to work with you on answering some of the NIH specific questions. Please contact us at cloud-gov-inquiries@gsa.gov and we'll put you in touch with them

Thanks, Peter

[2018-09-18 14:15] cx-ben-stokes opened #1336 "What are some of the tools and processes cloud.gov customers use to implement CI/CD pipelines for their cloud.gov apps? Does cloud.gov provide a solution as a service?"

[2018-11-02 23:46] brittag commented on #1336
Hi @benjaminstokes! Apologies for not getting to your question earlier. cloud.gov does not have a built-in CI/CD tool for customers. Customers can use any CI/CD tool of their choice - see https://cloud.gov/docs/apps/continuous-deployment/ for a few examples of how customers may configure this, including for Jenkins, Travis CI, and CircleCI. Happy to answer in more detail if that page doesn't have

[2018-11-14 03:28] aegershman opened #1353 "How does 18F do billing / chargeback for teams running on CF?"
(Moved from https://github.com/18F/18f.gsa.gov/issues/2895)

I'm very curious how 18f does chargeback for orgs/teams; how is an invoice calculated (e.g., charging for usage based on app/service instance hours), and on how the money is transferred from one org to the platform team (e.g., once a bill has been calculated, how does that money get transferred?):

Some general questions:

- Is it an aut

[2018-11-21 21:56] adunkman opened #1354 "Search button doesn’t do anything."
In Chrome 70.0.3538.102, the search button doesn’t seem to do anything:

![Screen recording showing Chrome browser window with a mouse clicking repeatedly on the cloud.gov search icon, only to curse away disappointedly.](https://user-images.githubusercontent.com/14930/48870273-296e7f80-edae-11e8-9f9e-c5587701a2ec.gif)

[2018-11-21 23:05] mogul commented on #1354
Doh! Sorry about that... I noticed that in passing but forgot to follow up and get it fixed. Please use [this link](https://search.usa.gov/search?affiliate=cloud.gov) directly to search.usa.gov in the meantime.

[2018-11-26 15:58] adunkman commented on #1354
Following up from Slack, @mgwalker and I are both at a loss as to where that `display: none` on `@media screen and (min-width: 600px) { .usa-nav-secondary .usa-search {}}` is coming from, and I’m having some issues getting node-sass compiled on my machine. I’d probably generate a sourcemap to see where it comes from — the sass imports include three or four different projects, so it’s too hard to f

[2018-11-27 01:07] mogul commented on #1354
@sharms is taking this on now... He said in Slack

![image](https://user-images.githubusercontent.com/47762/49051686-c0b44800-f19d-11e8-95d9-29708c36c840.png)

[2018-11-30 20:36] rogeruiz commented on #1354
on further inspection of this, I've noticed that the code that adds and removes the `.us-sr-only` class to the search `<form>` element is running twice and causing it to quickly toggle on & off.

[2018-12-03 17:57] mogul commented on #1354
We're planning to update the version of USWDS we're using for `cg-site` (and freezing `cg-dashboard` since we're deprecating it).

[2018-12-03 17:57] mogul commented on #1354
@thisisdano FYI

[2018-12-13 18:35] #1354 closed, assigned to nobody

[2018-12-14 02:00] mogul commented on #1354
Fixed!

[2019-01-09 18:11] aegershman commented on #1353
Closing. In case anyone from 18F seeings this: I'd still be very interested in how you do chargeback to clients who run their app workloads on your hosted cloud foundry. Could be a good blog post? :)

[2019-01-09 18:39] mogul commented on #1353
So sorry we didn't see this earlier! Your last comment made it through the noise. General summary:

- GSA's TTS sets up interagency agreements with agencies that use cloud.gov. This takes the form of a form 7600A (which establishes the payment channel) and one or more 7600B forms to add on "packages" as described in our [pricing page](https://cloud.gov/pricing/). There's a bit more information on

[2019-01-09 19:00] aegershman commented on #1353
It definitely does, thank you for sharing this. I ask because I was looking for chargeback/billing solution ideas for my team to use internally within our company to charge other teams running their apps on our hosted PCF.

- Interesting that customers are charged by quota. I can definitely see how would simplify things, both in terms of calculating the app usage & in terms of billing.
- Do you of

[2019-01-09 19:57] mogul commented on #1353
We aren't currently charging for our managed services because the costs of metering and billing for them outweigh the amount that they cost, and hence would bring in from customers. We are on the lookout for outliers that change that equation, but most of our customers aren't pushing the kind of volume of transactions or storage that make the infra costs worth recouping above and beyond what they'

[2019-01-09 20:22] aegershman commented on #1353
Right on, thank you. Yes we're in a similar boat, wherein we're content with "t'll work, good enough" in order to focus on higher priority issues, and basically lightly iterate on it here & there over time until it either 1.) becomes a serious problem requiring a plan, 2.) we have free time to deal with it, or 3.) someone else deals with it, open-sources it, and we try to contribute to it the best

[2019-01-09 20:22] #1353 closed, assigned to nobody

[2019-01-09 21:19] mogul commented on #1353
You're very welcome!

On Wed, Jan 9, 2019 at 1:18 PM Aaron Gershman <notifications@github.com>
wrote:

[2019-01-29 04:14] #630 closed, assigned to nobody

[2019-02-01 01:21] adborden opened #1382 "Syntax highlighting quirks in code snippets"
We use codefencing in markdown and [highlight.js](https://highlightjs.org/) for syntax highlighting. Highlight.js seems to guess the syntax, and seems to guess wrong a lot.

Here are [two indented code blocks](https://cloud.gov/docs/getting-started/concepts/#buildpacks). Both should be yaml but one is being detected as vimscript:
![screenshot from 2019-01-31 17-17-23](https://user-images.githubuse

[2019-02-11 20:42] #1382 closed, assigned to nobody

[2019-03-09 01:05] #1336 closed, assigned to nobody

[2019-03-27 05:10] fureigh opened #1411 "Update S3 documentation to reflect new sandbox syntax"
If someone wants to use an S3 bucket in a sandbox, they now must use a plan name that ends in `-sandbox` (i.e., `basic-sandbox` or `basic-public-sandbox`).

### Current state:
The "[How to create an S3 instance](https://cloud.gov/docs/services/s3/#how-to-create-an-instance)" documentation doesn't yet reflect this sandbox-specific syntax.

### Proposed state:
Someone looking to create an S3 instanc

[2019-03-27 12:38] jontours commented on #1411
I'll get a patch for this going today thanks @fureigh!

[2019-04-05 19:24] siennathesane opened #1418 "deprecation warnings from the manifest"
The manifest file format is out of date and is throwing deprecation warnings:

[code]

//cc @mogul

[2019-04-18 17:24] mogul commented on #329
Long since done: https://cloud.gov/docs/getting-started/one-off-tasks/

[2019-04-18 17:24] #329 closed, assigned to nobody

[2019-04-18 17:29] mogul commented on #375
Closing as stale; lots has changed since this was written! Comment if still relevant.

[2019-04-18 17:29] #375 closed, assigned to nobody

[2019-04-18 17:30] #387 closed, assigned to nobody

[2019-04-18 17:30] mogul commented on #387
We do this wherever we can using purpose-built styling now, and will be revamping screenshots soon as the dashboard changes.

[2019-04-18 17:30] mogul commented on #253
Now handled as part of the deployment pipeline

[2019-04-18 17:30] #253 closed, assigned to nobody

[2019-04-18 17:30] mogul commented on #302
Closing as stale

[2019-04-18 17:30] #302 closed, assigned to nobody

[2019-04-18 17:37] #1411 closed, assigned to nobody

[2019-04-18 17:38] #877 closed, assigned to nobody

[2019-04-18 17:38] mogul commented on #877
Closing as part of stale issue cleanup

[2019-04-18 17:39] mogul commented on #492
@brittag is this still something for us to follow up on?

[2019-04-18 17:40] mogul commented on #390
Now addressed in [What applications are supported?](https://cloud.gov/overview/overview/portfolio-analysis/)

[2019-04-18 17:40] #390 closed, assigned to nobody

[2019-04-18 17:41] mogul commented on #396
[Now documented](https://cloud.gov/docs/services/relational-database/#access-the-data-in-the-database)

[2019-04-18 17:41] #396 closed, assigned to nobody

[2019-04-18 17:43] #1139 closed, assigned to nobody

[2019-04-18 17:45] #1329 closed, assigned to nobody

[2019-04-18 17:46] #1214 closed, assigned to nobody

[2019-04-18 17:46] mogul commented on #1214
We're planning to push the existing dashboard into the 🌋soon; closing this issue as we won't be fixing it.

[2019-04-18 17:47] mogul commented on #441
Closing as stale

[2019-04-18 17:47] #441 closed, assigned to nobody

[2019-04-18 17:47] mogul commented on #231
Closing as stale

[2019-04-18 17:47] #231 closed, assigned to nobody

[2019-04-18 17:47] mogul commented on #493
Closing as stale

[2019-04-18 17:47] #493 closed, assigned to nobody

[2019-04-18 17:51] #328 closed, assigned to nobody

[2019-04-18 17:51] mogul commented on #328
Closing as stale (and I expect this will get simpler when ZDT commands are finalized in the CF CLI soon).

[2019-04-18 17:57] brittag commented on #492
Yeah, we should still do this eventually.

[2019-05-08 08:40] RabehTawfik opened #1426 "NFT/ load testing"
What policies/tools are in place to make sure tenants doing load tests won't affect others or at worst cause denial of service?

Thanks.

[2019-05-08 17:53] mogul commented on #1426
See [these Cloud Foundry docs](https://docs.cloudfoundry.org/concepts/container-security.html#mechanics) for specifics about how CPU is apportioned. The algorithm for determining CPU share ensures that no individual app will be DoS'd by a noisy neighbor on the same host.

With reference to the "CPU share is driven by memory limit" point there, each tenant has a specified [organization quota](https

[2019-05-29 09:02] RabehTawfik commented on #1426
Yes. many thanks.

[2019-05-29 20:54] mogul commented on #1426
One note back... We _did_ find just this week that one customer app undergoing an aggressive pen-test with a 16x log-amplification bug (due to having debug settings on in production, and dumping a stack trace on every request) was able to DoS our logging subsystem once the app hit around 350RPS. One of our planned mitigations for future will be to automatically rate-limit requests to apps that spi

[2019-05-29 20:54] #1426 closed, assigned to mogul

[2019-07-08 00:15] #279 closed, assigned to msecret

[2019-07-08 14:01] RabehTawfik opened #1444 "Enabling secure east west communication"
Hi All,

Just wondering, how do you go about enabling apps to use https within cloud foundry? My understanding is that TLS can be terminated at the LB, or the Go routers , or both. However, I am a bit confused about how can we use https for internal communication between apps/router  to apps ?

Many thanks.

[2019-07-08 18:01] siennathesane commented on #1444
@RabehTawfik let me unpack this a bit and point you to some resources.

cloud.gov ships with HTTPS traffic required by default, so if you try to leverage non-HTTPS endpoints for external traffic entering the platform, it will be redirected to the HTTPS endpoints.

This is correct, however to my knowledge we do not terminate at the LB, we just forward all traffic over HTTPS.

There exists a feature

[2019-07-09 08:38] RabehTawfik commented on #1444
@mxplusb Yes, it does. Many thanks for help :)

[2019-07-09 15:58] #1444 closed, assigned to siennathesane

[2019-08-26 16:25] Bryanthales-zz opened #1456 "cloud.gov / Federalist Unified Strategy Blog Post"
In order to make clear to federal customers the complementary nature of our service offerings from cloud.gov and Federalist, we plan to publish a blog post (to the 18F blog) reintroducing cloud.gov and Federalist -- and hopefully increase purchases of both services.

[18F Blog Draft - THIS IS THE VERSION TO REVIEW/EDIT](https://docs.google.com/document/d/1xkJRPHGefKbFYLYlQCn_5PDPEv0Vym-1pUVoANa6aJ

[2019-08-28 16:28] siennathesane opened #1466 "Remove snyk"
We should remove snyk.io integration in favour of @dependabot.

[2019-08-28 18:25] eddietejeda commented on #1466
This is an org level decision. @afeld can you remove us?

(a reason for having our own org account)

[2019-08-28 19:11] brittag commented on #1466
I believe we can remove Snyk by removing the webhooks here: https://github.com/18F/cg-site/settings/hooks

[2019-08-28 19:12] siennathesane commented on #1466
You can remove things from the Snyk dashboard, as well, which will remove the webhooks.

[2019-08-30 03:35] afeld commented on #1466
@brittag I don't have access, sorry! https://github.com/18F/tts-tech-portfolio/issues/57

[2019-08-30 16:02] RonWilliams opened #1469 "Onboard Van Nguyen"
## Getting to know cloud.gov

* [ ] Bookmark the [pertinent links listed here](https://github.com/18F/cg-product/blob/master/PertinentLinks.md).
* [ ] Read our [service disruption guide](https://cloud.gov/docs/ops/service-disruption-guide/) to learn how we handle customer-facing service disruptions.
* [ ] Join [the cloud.gov team Google Group](https://groups.google.com/a/gsa.gov/forum/?hl=en#!foru

[2019-08-30 16:03] RonWilliams opened #1470 "Onboard Chris McGowan"
## Getting to know cloud.gov

* [ ] Bookmark the [pertinent links listed here](https://github.com/18F/cg-product/blob/master/PertinentLinks.md).
* [ ] Read our [service disruption guide](https://cloud.gov/docs/ops/service-disruption-guide/) to learn how we handle customer-facing service disruptions.
* [ ] Join [the cloud.gov team Google Group](https://groups.google.com/a/gsa.gov/forum/?hl=en#!foru

[2019-09-11 16:20] hillaryj commented on #1470
Duplicate of issue in cg-product

[2019-09-11 16:20] #1470 closed, assigned to nobody

[2019-09-11 16:20] hillaryj commented on #1469
Duplicate of issue in cg-product

[2019-09-11 16:20] #1469 closed, assigned to nobody

[2019-09-18 15:37] trevorbryant opened #1479 "As a potential user, I want to know what reporting types are available"
Reading the docs has a lot of information available about the benefits and how to's of getting started with cloud.gov. Some of the main benefits include the ATO, updates notifications, managing apps, etc. I'd like to know more about the things I care about post-purchase and implementation for continuous monitoring. Imay have missed something but I don't see it documented [here](https://cloud.gov/d

[2019-09-27 17:58] hillaryj commented on #1466
I removed snyk

[2019-09-27 17:58] #1466 closed, assigned to eddietejeda, karareinsel

[2019-10-07 16:35] Bryanthales-zz opened #1484 "cloud.gov Service Calculator"
In order to support the cloud.gov team, we want to create a more accurate requested changes calculator so that any team member can estimate if an increase in service is allowable under the IAA funding level (and no need to go to Matt for verification).

Acceptance Criteria
GIVEN that cloud.gov receives service change requests from customers frequently
AND the sources for financial data related to